<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
			<div class="container">
				<div class="filterable">
           			<h1 class="ico-solicitudes"><span class="input-clock"></span> Niveles Organizacionales
<!--            				<button class="btn btn-default btn-xs btn-filter pull-right"><span class="glyphicon glyphicon-filter"></span></button> -->
           				<button class="btn btn-xs btn-default nBtn glyphicon glyphicon-plus-sign"></button>
           			</h1>
           			<hr/>
           			<!-- INICIO DE MENSAJES -->
           			<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
						<div class="alert alert-danger">
							<span class="fa fa-exclamation-triangle"></span>
			      			<span th:text="${MENSAJE_EXCEPCION}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
					<div class="form-group" th:if="${MENSAJE}">
						<div class="alert alert-success">
							<span class="fa fa-check"></span>
			      			<span th:text="${MENSAJE}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
           			<!--  FIN DE MENSAJES -->
					<table id="tableNiveles" class="table table-striped table-text-center">
						<thead>
							<tr class="filters">
							<th><input type="text" class="form-control" placeholder="ID NIVEL" th:disabled="true"/></th>
								<th><input type="text" class="form-control" placeholder="NIVEL ORGANIZACIONAL" th:disabled="true"/></th>
								<th><input type="text" class="form-control" placeholder="HORARIO LABORAL" th:disabled="true"/></th>
							<td th:text="#{COMUN.ACCIONES}"></td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="nivel : ${listaNiveles}">
								<td th:text="${nivel.idNivel}"></td>
								<td th:text="${nivel.nivel}"></td>
								<td th:text="${nivel.horario}"></td>
								<td class="col-md-3"> 
									<div>
										<a th:href="@{/catalogos/nivel/busca/(id=${nivel.idNivel})}"   class="btn btn-xs btn-default eBtn"><span class="glyphicon glyphicon-pencil"></span></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="nivelForm">      <!-- Modal para editar -->
		      		<form th:action="@{/catalogos/nivel/modifica}" method="put">
						<div class="modal fade" id="nivelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
							    	<div class="modal-header">
							      		<h3 class="modal-title" id="exampleModalLabel" th:text="#{COMUN.MODIFICAR}"></h3>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										 </button>
								    </div>
							    	<div class="modal-body">
								        <div class="form-group">
								        <div class="form-group" th:hidden="true">
											<label for="nivel" class="col-form-label" th:text="ID_NIVEL"></label>
									    	<input type="text" class="form-control"  id="idNivel"  name="idNivel"  th:readonly="true" />
										</div>
							          		<label for="idHorario" class="col-form-label" th:text="NUEVO_HORARIO_LABORAL"></label>
							          		<select  class="form-control" required="required" 
											       name="idHorario" id="idHorario">
											      <option disabled="disabled" selected="selected" > Elige un nuevo horario
											      </option>
											      <option th:each="horario : ${listaHorarios}" th:value="${horario.idHorario}" 
											       th:text="'Hora Entrada '+${horario.horaEntrada}+ ' - '+' Hora Salida '+${horario.horaSalida}">
											      </option>
											 </select>
								        </div>
								        <div class="form-group">
											<label for="nivel" class="col-form-label" th:text="NIVEL_ORGANIZACIONAL"></label>
									    	<input type="text" class="form-control"  id="nivel"  name="nivel"  th:readonly="true" />
										</div>
							    	</div>
								    <div class="modal-footer">
					    				<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
								    	<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />
								    </div>
							  	</div>
							</div>
						</div>
	      			</form>
      			</div>
      			
      			<div class="nuevoNivelForm"> <!-- Modal para agregar -->
		      		<form th:action="@{/catalogos/nivel/agrega}" method="post">
						<div class="modal fade" id="nuevoNivelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
							    	<div class="modal-header">
							      		<h3 class="modal-title" id="exampleModalLabel" th:text="#{COMUN.AGREGAR}"></h3>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										 </button>
								    </div>
							    	<div class="modal-body">
								        <div class="form-group">
							          		<label for="idHorario" class="col-form-label" th:text="HORARIO"></label>
							          		<select  class="form-control" required="required" 
											       th:value="Nivel" name="idHorario" id="idHorario">
											      <option disabled="disabled" selected="selected" > Elige un Horario
											      </option>
											      <option th:each="horario : ${listaHorarios}" th:value="${horario.idHorario}" 
											       th:text="'Hora Entrada '+${horario.horaEntrada}+ ' - '+' Hora Salida '+${horario.horaSalida}">
											      </option>
											 </select>
								        </div>
								        <div class="form-group">
											<label for="nivel" class="col-form-label" th:text="NIVEL_ORGANIZACIONAL"></label>
									    	<select  class="form-control" required="required" 
											       th:value="Nivel" name="nivel" id="nivel">
											      <option disabled="disabled" selected="selected" > Elige un Nivel Organizacional
											      </option>
											      <option th:each="nivel : ${listaUnidades}" th:value="${nivel.nivel}" 
											       th:text="${nivel.nivel}">
											      </option>
											 </select>
										</div>
							    	</div>
								    <div class="modal-footer">
					    				<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
								    	<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />
								    </div>
							  	</div>
							</div>
						</div>
	      			</form>
      			</div>
      			
      										   <!-- Modal para eliminar -->
				<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.ELIMINA}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.ELIMINA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="delRef" th:text="#{COMUN.ELIMINA}"></a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>			
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/catalogos/nivelOrganizacional.js}"></script>	 
		</th:block>
	</body>
</html>