<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Vacaciones</h1>
				<hr/>
				
				<div class="row">
						<ul class="nav nav-tabs">
							<!-- <li class="active"><a data-toggle="tab" href="#misVacacione">Mis vacaciones</a></li> -->
							<li class="active"><a data-toggle="tab" href="#vacacionesEmpleado">Vacaciones de empleados</a></li>
							<!-- <li><a data-toggle="tab" href="#agregar">Peticion de vacaciones</a></li> -->
						</ul>
				</div>
				<div class="tab-content">
					<!-- <div class="row tab-pane fade in active" id="misVacacione">
						  <div class="card">
						  <div id="misVacaciones">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button id="muestraVacacionesPropias"  name="muestraVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          <span class="glyphicon glyphicon-chevron-right"  ></span><span> Mis solicitudes</span>
						        </button>
						        <button id="ocultaVacacionesPropias" name="ocultaVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="display: none;">
						          <span class="glyphicon glyphicon-chevron-down"  ></span><span> Mis solicitudes</span>
						        </button>
						      </h5>
						    </div>
						    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						    <div class="card">
							<h3>Busca vacaciones</h3>
							<div class="asistenciaForm">      Formulario busqueda asistencia
			      				<form th:action="@{/vacaciones/vacacion/vacacionesPropias}" method="get">
									<div class="row">
										<div class="col-md-3">
											<label>
												<label>
												<label for="unidadAdministrativa" class="col-form-label" th:text="Periodo"></label>
									        	<select  class="form-control" required="required" 
											       th:value="Periodo" name="idPeriodo" id="idPeriodo">
											      <option disabled="disabled" selected="selected" > Elige un Periodo
											      </option>
											      <option>
											      </option>
											    </select>
											</label>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label for="unidadAdministrativa" class="col-form-label" th:text="Estatus"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idEstatus" name="idEstatus" id="idEstatus">
											      <option disabled="disabled" selected="selected" > Elige un Estatus
											      </option>
											      <option th:each="estatus : ${listaEstatus}" th:value="${estatus.idEstatus}" 
											       th:text="${estatus.estatus}">
											      </option>
											    </select>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label class="col-form-label">Fecha de inicio</label>
												<input id="fechaInicioBusca1" name="fechaInicioBusca1" type="text" class="form-control input-calendar" required="required" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label class="col-form-label">Fecha de fin</label>
												<input type="text" id="fechaFinBusca1" name="fechaFinBusca1" class="form-control input-calendar" required="required"/>
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="text-right">
												<button id="btnVacacionesPropias" class="btn btn-default">Buscar</button>
											</p>
										</div>
									</div>
								</form>
							</div>
							
								<table id="tableAsistencias" class="table table-striped table-text-center">
									<thead>
										<tr class="filters">
											<th>Periodo</th>
											<th>Estatus</th>
											<th>Fecha de inicio</th>
											<th>Fecha de fin</th>
											<th>Dias</th>
											<th>Acciones</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="vacaciones : ${vacacionesPropias}">
											<td ></td>
											<td th:text="${vacaciones.idEstatus.descripcion}"></td>
											<td th:text="${vacaciones.fechaInicio}"></td>
											<td th:text="${vacaciones.fechaFin}"></td>
											<td th:text="${vacaciones.dias}"></td>
											<td class="col-md-3">
												<a  class="eBtn" id="botonLlamar" name="botonLlamar"> Ver Detalle </a>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
					 </div>
					 </div>
						</div>
						
					</div> -->
					<div class="row tab-pane fade in active" id="vacacionesEmpleado">
						
						<div class="card">
							<h3>Vacaciones de empleados</h3>
							<div class="asistenciaForm">      <!-- Formulario busqueda asistencia -->
			      				<form th:action="@{/vacaciones/vacacionesEmpleados}" method="get">
									<div class="row">
										<div class="col-md-3">
											<label>
												<p>No. de Empleado</p>
												<input id="claveUsuario" name="claveUsuario" type="text" class="form-control" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Nombre</p>
												<input id="nombre" name="nombre" type="text" class="form-control input-user" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Apellido Paterno</p>
												<input id="apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Apellido Materno</p>
												<input id="apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" />
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label>
												<label for="idUnidad" class="col-form-label" th:text="#{UNIDAD_ADMINISTRATIVA}"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idUnidad" name="idUnidad" id="idUnidad">
											      <option disabled="disabled" selected="selected" > Elige una unidad
											      </option>
											      <option th:each="unidades : ${listaUnidades}" th:value="${unidades.idUnidad.idUnidad}" 
											       th:text="${unidades.idUnidad.nombre}">
											      </option>
											    </select>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label for="unidadAdministrativa" class="col-form-label" th:text="Estatus"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idEstatus" name="idEstatus" id="idEstatus">
											      <option disabled="disabled" selected="selected" > Elige un Estatus
											      </option>
											      <option th:each="estatus : ${listaEstatus}" th:value="${estatus.idEstatus}" 
											       th:text="${estatus.estatus}">
											      </option>
											    </select>
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="text-right">
												<button id="btnVacacionesEmpleados" class="btn btn-default">Buscar</button>
											</p>
										</div>
									</div>
								</form>
							</div>
							
								<table id="tableAsistencias" class="table table-striped table-text-center">
									<thead>
										<tr class="filters">
											<th>No. de empleado</th>
											<th>Unidad</th>
											<th>Nombre de empleado</th>
											<th>Periodo</th>
											<th>Fecha de inicio</th>
											<th>Fecha de fin</th>
											<th>Dias</th>
											<th>estatus</th>
											<th>Acciones</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="vacaciones : ${vacacionesEmpleados}">
											<td th:text="${vacaciones.idUsuario.claveUsuario}"></td>
											<td th:text="${vacaciones.idUsuario.nombreUnidad}"></td>
											<td th:text="''+ ${vacaciones.idUsuario.nombre} + ' ' + ${vacaciones.idUsuario.apellidoPaterno} + ' ' + ${vacaciones.idUsuario.apellidoMaterno}"></td>
											<td ></td>
											<td th:text="${vacaciones.fechaInicio}"></td>
											<td th:text="${vacaciones.fechaFin}"></td>
											<td th:text="${vacaciones.dias}"></td>
											<td th:text="${vacaciones.idEstatus.descripcion}"></td>
											<td class="col-md-3" th:if="${vacaciones.idEstatus.idEstatus==1}">
												<a th:href="@{/vacaciones/vacacion/acepta/(id=${vacaciones.idDetalle},fechaInicio=${vacaciones.fechaInicio},fechaFinal=${vacaciones.fechaFin},idUsuario=${vacaciones.idUsuario.idUsuario})}" class="btn btn-xs btn-default aceptaBtn"><span class="glyphicon glyphicon-ok"></span></a>
											
												<a th:href="@{/vacaciones/vacacion/rechaza/(id=${vacaciones.idDetalle},idUsuario=${vacaciones.idUsuario.idUsuario},idVacacion=${vacaciones.idVacacion.idVacacion},dias=${vacaciones.dias})}" class="btn btn-xs btn-default rechazaBtn"><span class="glyphicon glyphicon-remove"></span></a>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
							
						</div>
					
					
					<!-- <div class="row tab-pane fade" id="agregar">
						
						<div class="card">
							<h3>Agregar peticion de vacaciones</h3>
							<div class="guardaVacaciones">      Formulario busqueda asistencia
			      				<form th:action="@{/vacaciones/vacacion/modifica}" method="post" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-3">
											<label>
												<p>Periodo</p>
												<input type="text" id="periodo" class="form-control" th:readonly="true" th:field="*{periodo.fechaIni}" />
												<input type="text" id="idPeriodo" name="idPeriodo" class="form-control" th:readonly="true" th:field="*{periodo.idPeriodo}"  style="display: none;" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Dias disponibles de periodo</p>
												<input type="number" id="diasDispobibles" th:field="*{vacacion.dias}" class="form-control" th:readonly="true" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Fecha de inicio</p>
												<input type="text" name="fechaInicio" class="form-control input-calendar" id="fechaInicio" required="required" autocomplete="off" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Fecha de fin</p>
												<input type="text" name="fechaFin" class="form-control input-calendar" id="fechaFin" required="required" autocomplete="off"  />
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<label>
												<p>Dias por pedir</p>
												<input type="number" name="diasPorPedir" id="diasPorPedir" class="form-control" th:readonly="true" />
												<input type="text" name="idVacacion" id="idVacacion" class="form-control" th:readonly="true" th:field="*{vacacion.idVacacion}" style="display: none;" />
											</label>
										</div>
										<div class="col-md-3">
											<label for="horario" class="col-form-label" th:text="Responsable"></label>
									        	<select  class="form-control" required="required" 
											       th:value="Responsable" name="responsable" id="responsable">
											      <option disabled="disabled" selected="selected" > Elige un responsable
											      </option>
											      <option th:each="responsable : ${listaResponsable}" th:value="${responsable.claveUsuario.idUsuario}" 
											       th:text="${responsable.claveUsuario.nombre} + ' ' + ${responsable.claveUsuario.apellidoPaterno} + ' ' + ${responsable.claveUsuario.apellidoMaterno} ">
											      </option>
											    </select>
										</div>
										<div class="col-md-3">
											<label>
												<p>Archivo</p>
												 <input type="file" name="archivo" id="archivo" multiple="multiple"/>
											</label>
											<div class="custom-file">
											   
											  </div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="text-right">
												<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
								    			<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="modal fade" id="aceptarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.GUARDAR}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.ACEPTA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="aceptaModal" th:text="#{COMUN.ACEPTAR}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.ELIMINA}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.RECHAZA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="rechazaModal" th:text="#{COMUN.RECHAZA}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				
		</div>		
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/vacaciones/vacaciones.js}"></script>	 
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/moment.js}"></script>
	        <!-- <script charset="utf-8" th:src="@{/recursos/assets/date-picker/style/jquery-ui.css}"></script> -->
	        <link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />	
	        
		</th:block>
	</body>
</html>