<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container" >
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Vacaciones</h1>
				<hr/>
				
				<div class="row misPropiasVacaciones">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#misVacacione">Mis vacaciones</a></li>
						</ul>
				</div>
				<div class="tab-content" >
					<div class="row tab-pane fade in active misPropiasVacaciones" >
						  <div class="card" id="misPropiasVacaciones">
						  <div id="misVacaciones">
						    <!-- <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button id="muestraVacacionesPropias"  name="muestraVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          <span class="glyphicon glyphicon-chevron-right"  ></span><span> Mis solicitudes</span>
						        </button>
						        <button id="ocultaVacacionesPropias" name="ocultaVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="display: none;">
						          <span class="glyphicon glyphicon-chevron-down"  ></span><span> Mis solicitudes</span>
						        </button>
						      </h5>
						    </div> -->
						    <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"> -->
						    <div class="card">
							<h3>Busca vacaciones</h3>
							<div class="asistenciaForm">      <!-- Formulario busqueda asistencia -->
			      				<form th:action="@{/vacaciones/vacacionesPropias}" method="get">
									<div class="row">
										<div class="col-md-3">
											<label>
												<label>
												<label for="Periodo" class="col-form-label" th:text="Periodo"></label>
									        	<select  class="form-control" required="required" 
											       th:value="Periodo" name="idPeriodo" id="idPeriodo">
											      <option disabled="disabled" selected="selected" > Elige un Periodo
											      </option>
											      <option th:each="periodo : ${listaPeriodos}" th:value="${periodo.idPeriodo}" 
											       th:text="${periodo.descripcion}">
											      </option>
											    </select>
											</label>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label for="unidadAdministrativa" class="col-form-label" th:text="Estatus"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idEstatus" name="idEstatus" id="idEstatus">
											      <option disabled="disabled" selected="selected" > Elige un Estatus
											      </option>
											      <option th:each="estatus : ${listaEstatus}" th:value="${estatus.idEstatus}" 
											       th:text="${estatus.estatus}">
											      </option>
											    </select>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label class="col-form-label">Fecha de Inicio</label>
												<input id="fechaInicioBusca1" name="fechaInicioBusca1" type="text" class="form-control input-calendar" autocomplete="off" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label class="col-form-label">Fecha de Fin</label>
												<input type="text" id="fechaFinBusca1" name="fechaFinBusca1" class="form-control input-calendar" autocomplete="off" />
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="text-right">
												<button id="btnVacacionesPropias" class="btn btn-default">Buscar</button>
											</p>
										</div>
									</div>
								</form>
							</div>
							
								<table id="vacacionesPropias" class="table table-striped table-text-center">
									<thead>
										<tr class="filters">
											<th>Periodo</th>
											<th>Estatus</th>
											<th>Fecha de Inicio</th>
											<th>Fecha de Fin</th>
											<th>Dias</th>
											<th>Acci&oacute;n</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="vacaciones : ${vacacionesPropias}">
											<td th:text="${vacaciones.idVacacion.idPeriodo.descripcion}"></td>
											<td th:text="${vacaciones.idEstatus.estatus}"></td>
											<td th:text="${#dates.format(vacaciones.fechaInicio, 'dd-MM-yyyy')}"></td>
											<td th:text="${#dates.format(vacaciones.fechaFin, 'dd-MM-yyyy')}"></td>
											<td th:text="${vacaciones.dias}"></td>
											<td class="col-md-3">
												<a th:href="@{/vacaciones/vacacion/busca/(idVacacion=${vacaciones.idDetalle})}"  class="eBtn" id="botonLlamar" name="botonLlamar"> Ver Detalle </a>
											</td>
										</tr>
									</tbody>
								</table>
								<div th:if="${vacacionesPropias == null}">
									<label>No hay Registros para mostrar, por favor intenta otra b&uacute;squeda</label>
								</div>
						</div>
					 <!-- </div> -->
					 </div>
						</div>
						</div>
				<div class="row tab-pane fade in active" id="actualizamosVacacion" style="display: none; ">
				<div class="card" >
				<form  th:action="@{/vacaciones/vacacion/generaArchivo}"  method="get" class="actualizaVacacion" enctype="multipart/form-data">
					<div class="row">
						<h2 class="ico-solicitudes"><span class="input-clock"></span>Solicitud de vacaciones</h2>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Folio de Solicitud</label>
									<input id="idSolicitud" name="idSolicitud" type="text" class="form-control" required="required" th:readonly="true" />
									<input id="idVacacion" name="idVacacion" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
							</label>
						</div>
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Estatus</label>
									<input id="idEstatus" name="idEstatus" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						 <div class="col-md-4">
							<label>
									<label class="col-form-label">Fecha de Solicitud</label>
									<input id="fechaSolicitud" name="fechaSolicitud" type="text" class="form-control" required="required" th:readonly="true"/>
							</label>
						 </div>
						<div class="col-md-4">
							<label>
									<label class="col-form-label">Puesto</label>
									<input id="idPuesto" name="idPuesto" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-4">
							<label>
									<label class="col-form-label">Unidad Administrativa</label>
									<input id="idUnidadAdministrativa" name="idUnidadAdministrativa" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label>
									<label class="col-form-label">No. Empleado</label>
									<input id="numeroEmpleado" name="numeroEmpleado" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Fecha de Ingreso</label>
									<input id="fechaIngreso" name="fechaIngreso" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">RFC</label>
									<input id="rfc" name="rfc" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Nombre</label>
									<input id="nombre" name="nombre" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido Paterno</label>
									<input id="apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido Materno</label>
									<input id="apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
									<div class="col-md-4">
											<label>
													<label class="col-form-label">Me voy del </label>
													<input id="fechaInicio1" name="fechaInicio1" type="text" class="form-control" required="required" th:readonly="true" autocomplete="off" />
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">al </label>
													<input id="fechaFin1" name="fechaFin1" type="text" class="form-control" required="required" th:readonly="true" autocomplete="off" />
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">Dias </label>
													<input id="dias" name="dias" type="text" class="form-control" required="required" th:readonly="true" />
											</label>
									</div>
							</div>
							<div class="row">
								<p class="text-center">
												<a th:href="@{/vacaciones/vacacionesPropias}"><button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button></a>
<!-- 								    			<a th:href="@{/vacaciones/vacacionesPropias}"><input type="submit" class="btn btn-danger" th:value="Eliminar" /></a> -->
											</p>
							</div>
							<!-- <div class="row">
								<p class="text-center">
												<a th:href="@{/vacaciones/vacacionesPropias}"><button type="button" class="btn btn-danger" data-dismiss="modal" th:text="Rechazar"></button></a>
								    			<a th:href="@{/vacaciones/vacacionesPropias}"><input type="submit" class="btn btn-primary" th:value="Aceptar" /></a>
											</p>
							</div> -->
							
						</div>
						<div class="col-md-6">
							<div class="row text-center">
									<label>
											<label class="col-form-label">Persona que autoriza </label>
											<input id="responsable" name="responsable" type="text" class="form-control input-calendar" required="required" th:readonly="true" />
									</label>
							</div>
							<div class="row">
											
											
											<!-- <input id="responsable" name="responsable" type="text" class="form-control input-calendar" required="required" /> -->
									
							</div>
							<div class="row">
								<p class="text-center">
								    			<a th:href="@{/vacaciones/vacacionesPropias}"><input type="submit" class="btn btn-secondary" th:value="Aceptar" /></a>
												<button type="submit" class="btn btn-secondary" data-dismiss="modal" >Descargar formato</button>		
										
								</p>
							</div>
						</div>
					</div>
					</form>
					</div>
					<div class="card" >
					<div class="row">
					<div class="col-md-6">
						<form th:action="@{/vacaciones/vacacion/actualizaArchivo}" class="actualizaArchivo" method="post" enctype="multipart/form-data">
											<div class="col-md-6">
												<label class="col-form-label">Formato de Vacaciones </label>
												 <input type="file" name="archivo" id="archivo" multiple="multiple"/>
												 </div>
												 <div class="col-md-6">
												 <input id="claveUsuario" name="claveUsuario" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
												 <input id="idArchivo" name="idArchivo" type="text" class="form-control input-calendar" required="required" th:readonly="true" style="display: none;"/>
												 <input id="idDetalle" name="idDetalle" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
												<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />		
												</div>
						</form>
					</div>
					</div>
					</div>
					
				
				</div>
				</div>
				</div>
			
			<div class="modal fade" id="aceptarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.GUARDAR}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.ACEPTA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="aceptaModal" th:text="#{COMUN.ACEPTAR}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.ELIMINA}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.RECHAZA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="rechazaModal" th:text="#{COMUN.RECHAZA}"></a>
				      </div>
				    </div>
				  </div>
				</div>	
		</div>		
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/vacaciones/vacaciones.js}"></script>	 
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/moment.js}"></script>
	        <!-- <script charset="utf-8" th:src="@{/recursos/assets/date-picker/style/jquery-ui.css}"></script> -->
	        <link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />	
	        
		</th:block>
	</body>
</html>