<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Vacaciones</h1>
				<hr/>
				
				<div class="row misPropiasVacaciones">
						<ul class="nav nav-tabs">
							<!-- <li class="active"><a data-toggle="tab" href="#misVacacione">Mis vacaciones</a></li> -->
							<li class="active"><a data-toggle="tab" href="#vacacionesEmpleado">Vacaciones de empleados</a></li>
							<!-- <li><a data-toggle="tab" href="#agregar">Peticion de vacaciones</a></li> -->
						</ul>
				</div>
				<div class="tab-content">
				<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
						<div class="alert alert-danger">
							<span class="fa fa-exclamation-triangle"></span>
			      			<span th:text="${MENSAJE_EXCEPCION}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
					<div class="form-group" th:if="${MENSAJE}">
						<div class="alert alert-success">
							<span class="fa fa-check"></span>
			      			<span th:text="${MENSAJE}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
					<div class="row tab-pane fade in active misPropiasVacaciones" id="vacacionesEmpleado">
						
						<div class="card vacacionesDeEmpleados">
							<h3>Vacaciones de empleados</h3>
							<div class="asistenciaForm">      <!-- Formulario busqueda asistencia -->
			      				<form th:action="@{/vacaciones/vacacionesEmpleados}" method="get" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-3">
											<label>
												<p>No. de Empleado</p>
												<input id="claveUsuario" name="claveUsuario" type="text" class="form-control" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Nombre</p>
												<input id="nombre" name="nombre" type="text" class="form-control input-user" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Apellido Paterno</p>
												<input id="apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" />
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<p>Apellido Materno</p>
												<input id="apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" />
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3" sec:authorize="hasAuthority('1')" >
											<label>
												<label for="idUnidad" class="col-form-label" th:text="#{UNIDAD_ADMINISTRATIVA}"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idUnidad" name="idUnidad" id="idUnidad">
											      <option disabled="disabled" selected="selected" > Elige una unidad
											      </option>
											      <option th:each="unidades : ${listaUnidades}" th:value="${unidades.idUnidad.idUnidad}" 
											       th:text="${unidades.idUnidad.nombre}">
											      </option>
											    </select>
											</label>
										</div>
										<div class="col-md-3">
											<label>
												<label for="unidadAdministrativa" class="col-form-label" th:text="Estatus"></label>
									        	<select  class="form-control" required="required" 
											       th:value="idEstatus" name="idEstatus" id="idEstatus">
											      <option disabled="disabled" selected="selected" > Elige un Estatus
											      </option>
											      <option th:each="estatus : ${listaEstatus}" th:value="${estatus.idEstatus}" 
											       th:text="${estatus.estatus}">
											      </option>
											    </select>
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="text-right">
												<button id="btnVacacionesEmpleados" class="btn btn-default">Buscar</button>
											</p>
										</div>
									</div>
								</form>
							</div>
							
								<table id="vacacionesPropias" class="table table-striped table-text-center">
									<thead>
										<tr class="filters">
											<th>No. de Empleado</th>
											<th>Unidad</th>
											<th>Nombre de Empleado</th>
											<th>Periodo</th>
											<th>Fecha de Inicio</th>
											<th>Fecha de Fin</th>
											<th>Dias</th>
											<th>Estatus</th>
											<th>Acciones</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="vacaciones : ${vacacionesEmpleados}">
											<td th:text="${vacaciones.idUsuario.claveUsuario}"></td>
											<td th:text="${vacaciones.idUsuario.nombreUnidad}"></td>
											<td th:text="''+ ${vacaciones.idUsuario.nombre} + ' ' + ${vacaciones.idUsuario.apellidoPaterno} + ' ' + ${vacaciones.idUsuario.apellidoMaterno}"></td>
											<td th:text="${vacaciones.idVacacion.idPeriodo.descripcion}"></td>
											<td th:text="${#dates.format(vacaciones.fechaInicio, 'dd-MM-yyyy')}"></td>
											<td th:text="${#dates.format(vacaciones.fechaFin, 'dd-MM-yyyy')}"></td>
											<td th:text="${vacaciones.dias}"></td>
											<td th:text="${vacaciones.idEstatus.estatus}"></td>
											
											<td class="col-md-3">
												<a th:href="@{/vacaciones/vacacion/busca/(idVacacion=${vacaciones.idDetalle})}"  class="eBtn" id="botonLlamar" name="botonLlamar"> Ver Detalle </a>
											</td>
										</tr>
									</tbody>
								</table>
								<div th:if="${vacacionesEmpleados == null}">
									<label>No hay Registros para mostrar, por favor intenta otra b&uacute;squeda</label>
								</div>
						</div>
							
						</div>
						<div class="row tab-pane fade in active" id="actualizamosVacacion" style="display: none; ">
				<div class="card" >
				<form  th:action="@{/vacaciones/vacacion/generaArchivo}"  method="get" class="actualizaVacacion">
					<div class="row">
						<h2 class="ico-solicitudes"><span class="input-clock"></span>Solicitud de vacaciones</h2>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Folio de Solicitud</label>
									<input id="idSolicitud" name="idSolicitud" type="text" class="form-control" required="required" th:readonly="true" />
									<input id="idVacacion" name="idVacacion" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
							</label>
						</div>
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Estatus</label>
									<input id="idEstatus" name="idEstatus" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>
									<label class="col-form-label">Fecha de Solicitud</label>
									<input id="fechaSolicitud" name="fechaSolicitud" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-4">
							<label>
									<label class="col-form-label">Puesto</label>
									<input id="idPuesto" name="idPuesto" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-4">
							<label>
									<label class="col-form-label">Unidad Administrativa</label>
									<input id="idUnidadAdministrativa" name="idUnidadAdministrativa" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label>
									<label class="col-form-label">No. Empleado</label>
									<input id="numeroEmpleado" name="numeroEmpleado" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Fecha de Ingreso</label>
									<input id="fechaIngreso" name="fechaIngreso" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">RFC</label>
									<input id="rfc" name="rfc" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Nombre</label>
									<input id="nombre" name="nombre" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido Paterno</label>
									<input id="apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido Materno</label>
									<input id="apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
									<div class="col-md-4">
											<label>
													<label class="col-form-label">Me voy del </label>
													<input id="fechaInicio1" name="fechaInicio1" type="text" class="form-control" required="required" th:readonly="true" />
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">al </label>
													<input id="fechaFin1" name="fechaFin1" type="text" class="form-control" required="required" th:readonly="true" />
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">Dias </label>
													<input id="dias" name="dias" type="text" class="form-control" required="required" th:readonly="true" />
											</label>
									</div>
							</div>
							<div class="row">
								<p class="text-center">
												<button type="button" id="miBotonCancelar" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
								    			<!-- <input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" /> -->
											</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
									<label>
											<label class="col-form-label">Persona que autoriza </label>
											<input id="responsable" name="responsable" type="text" class="form-control" required="required" th:readonly="true" />
											<input id="responsableAux" name="responsableAux" type="text" class="form-control" />
									</label>
							</div>
							<div class="row">
											<!-- <div class="col-md-12">
											<label>
												<label class="col-form-label">Formato de vacaciones</label>
												 <input type="file" name="archivo" id="archivo" multiple="multiple"/>
											</label>
											</div> -->
											<div class="col-md-12">
											<button type="submit" class="btn btn-secondary" data-dismiss="modal" >Descargar Formato</button>
											
											
											<!-- <a th:href="@{/vacaciones/vacacion/acepta}"></button></a> -->
								    			<!-- <input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" /> -->	
											</div>
											<!-- <input id="responsable" name="responsable" type="text" class="form-control input-calendar" required="required" /> -->
							</div>
						</div>
					</div>
					</form>
					</div>
					<div class="card" >
					<div class="row">
										<div class="col-md-8 text-center" sec:authorize="hasAuthority('2')" >
											<form th:action="@{/vacaciones/vacacion/actualizaArchivoEmpleado}" class="actualizaArchivo" method="post" enctype="multipart/form-data">
																<div class="col-md-6">
																	<label class="col-form-label">Adjunta Formato de Vacaciones </label>
																	 <input type="file" name="archivo" id="archivo" multiple="multiple"/>
																</div>
																<div class="col-md-6 ">
																	 <input id="claveUsuario" name="claveUsuario" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
																	 <input id="idArchivo" name="idArchivo" type="text" class="form-control input-calendar" required="required" th:readonly="true" style="display: none;"/>
																	 <input id="idDetalle" name="idDetalle" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
																	<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />	
																</div>	
											</form>
										</div>
										<div class="col-md-4 text-center" sec:authorize="hasAuthority('1')" >
											<form th:action="@{/vacaciones/descargaArchivo}" class="descargaArchivo" method="get">
																	<!-- <label class="col-form-label">Descarga Archivo</label> -->
																	 <!-- <input type="file" name="archivo" id="archivo" multiple="multiple"/> -->
																	 <input id="idArchivo" name="idArchivo" type="text" class="form-control input-calendar" required="required" th:readonly="true" style="display: none;"/>
																	<input type="submit" class="btn btn-primary" value="Descarga formato" />		
											</form>
										</div>
										<div class="col-md-2" sec:authorize="hasAuthority('1')">
											<form th:action="@{/vacaciones/vacacion/acepta}"  method="get" class="aceptaVacacion">
												<input id="idSolicitud" name="idSolicitud" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
												<input id="fechaFin" name="fechaFin" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<input id="id" name="id" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<input id="fechaInicio" name="fechaInicio" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<button type="submit" id="aceptaVacacion" class="btn btn-success" data-dismiss="modal" th:text="Aceptar"></button>
											</form>
										</div>
										<div class="col-md-2" sec:authorize="hasAuthority('1')">
											<form th:action="@{/vacaciones/vacacion/rechaza}"  method="get" class="rechazaVacacion">
												<input id="idSolicitud" name="idSolicitud" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<input id="idVacacion" name="idVacacion" type="text" class="form-control" required="required" th:readonly="true"  style="display: none;" />
												<input id="idUsuario" name="idUsuario" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<input id="dias" name="dias" type="text" class="form-control" required="required" th:readonly="true" style="display: none;" />
												<button type="submit" id="rechazaVacacion" class="btn btn-danger" data-dismiss="modal" th:text="Rechazar" ></button>
											</form>
										</div>
						</div>
						</div>
				
				</div>
				</div>
			</div>
			<div class="modal fade" id="aceptarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.GUARDAR}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.ACEPTA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="aceptaModal" th:text="#{COMUN.ACEPTAR}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.ELIMINA}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.RECHAZA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="rechazaModal" th:text="#{COMUN.RECHAZA}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				
		</div>		
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/vacaciones/vacaciones.js}"></script>	 
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/moment.js}"></script>
	        <!-- <script charset="utf-8" th:src="@{/recursos/assets/date-picker/style/jquery-ui.css}"></script> -->
	        <link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />	
	        
		</th:block>
	</body>
</html>