<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Comisiones</h1>
				<hr/>
				
				<div class="row">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#agregar">Peticion de comisiones</a></li>
						</ul>
				</div>
				<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
						<div class="alert alert-danger">
							<span class="fa fa-exclamation-triangle"></span>
			      			<span th:text="${MENSAJE_EXCEPCION}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
					<div class="form-group" th:if="${MENSAJE}">
						<div class="alert alert-success">
							<span class="fa fa-check"></span>
			      			<span th:text="${MENSAJE}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			          	</div>
					</div>
				<div class="tab-content">
					<div class="row tab-pane fade in active" id="agregar">
						<div class="card" >
				<form  th:action="@{/comisiones/agregarComision}"  method="get" class="guardaComision" id = "formRegistroComision">
					<div class="row">
						<h2 class="ico-solicitudes"><span class="input-clock"></span>Solicitud de comisi&oacute;n propias</h2>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Fecha de solicitud</label>
									<input id="idSolicitud" name="idSolicitud" type="text" class="form-control" required="required" th:readonly="true" style="display: none;"/>
									<input id="fechaSolicitud" name="fechaSolicitud" type="text" class="form-control" th:value="${fechaRegistro}"  required="required"  th:readonly="true"  />
									<input type="text" id="listaDiasFestivos" name="listaDiasFestivos" class="form-control" th:readonly="true" th:value="${listaDiasFestivos}" style="display: none;"/>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Nombre</label>
									<input id="nombre" name="nombre" type="text" class="form-control" required="required" th:field="*{usuario.nombre}" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido paterno</label>
									<input id="apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" th:field="*{usuario.apellidoPaterno}" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Apellido materno</label>
									<input id="apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" th:field="*{usuario.apellidoMaterno}" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">No. Empleado</label>
									<input id="claveUsuario" name="claveUsuario" type="text" class="form-control" th:field="*{usuario.claveUsuario}" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">Fecha de ingreso</label>
									<input id="fechaIngreso" name="fechaIngreso" type="text" class="form-control" th:field="*{usuario.fechaIngreso}" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-2">
							<label>
									<label class="col-form-label">RFC</label>
									<input id="rfc" name="rfc" type="text" class="form-control" th:field="*{usuario.rfc}" required="required" th:readonly="true" />
							</label>
						</div>
						
					</div>
					<div class="row">
					 	<div class="col-md-6">
							<label>
									<label class="col-form-label">Puesto</label>
									<input id="idPuesto" name="idPuesto" type="text" class="form-control" th:field="*{usuario.idPuesto}" required="required" th:readonly="true" />
							</label>
						</div>
						<div class="col-md-6">
							<label>
									<label class="col-form-label">Unidad administrativa</label>
									<input id="idUnidadAdministrativa" name="idUnidadAdministrativa" th:field="*{usuario.nombreUnidad}" type="text" class="form-control" required="required" th:readonly="true" />
							</label>
						</div>
					</div>
					<div class="row">
					<label> Selecciona fecha inicio y la fecha fin de la comisi&oacute;n </label>
									<div class="col-md-4 fechas">
											<label>
													<label class="col-form-label">Fecha de inicio </label>
													<input id="fechaInicio" name="fechaInicio" type="text" class="form-control input-calendar" th:required="required"  />
											</label>
									</div>
									<div class="col-md-4 fechas">
											<label>
													<label class="col-form-label">Fecha de fin </label>
													<input id="fechaFin" name="fechaFin" type="text" class="form-control input-calendar" th:required="required"  />
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">D&iacute;as </label>
													<input id="dias" name="dias" type="text" class="form-control"  th:readonly="true" />
											</label>
									</div>
							
					</div>
					<div class ="row">
									<div class="col-md-4">
											<label>
										        <label for="horario" class="col-form-label" th:text="Horario"></label>
									        	<select  class="form-control" 
											       th:value="horario" name="idHorario" id="idHorario" th:required="required">
											      <option th:each="horario : ${listaHorarios}" th:value="${horario.idHorario}" 
											       th:text="${horario.horaEntrada} + ' - ' + ${horario.horaSalida}">
											      </option>
											    </select>
											</label>
									</div>
									<div class="col-md-4">
											<label>
													<label class="col-form-label">Motivo de comisi&oacute;n</label>
													<input id="comision" name="comision" type="text" class="form-control" th:required="required"/>
											</label>
									</div>
									<div class="col-md-4">
											<label>
										        <label for="responsable" class="col-form-label" th:text="Responsable"></label>
									        	<select  class="form-control" 
											       th:value="responsable" name="idResponsable" id="idResponsable" th:required="required">
											      <option th:each="responsable : ${listaResponsable}" th:value="${responsable.claveUsuario.idUsuario}" 
											       th:text="${responsable.claveUsuario.nombre} + ' ' + ${responsable.claveUsuario.apellidoPaterno} + ' ' + ${responsable.claveUsuario.apellidoMaterno} ">
											      </option>
											    </select>
											</label>
									</div>

					</div>
					<div class="row">
								<p class="text-center">
												<a th:href="@{/comisiones/comisionesPropias}"><button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button></a>
								    			<input type="submit" id="botonGuardarComisiones" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" />
											</p>
							</div>
					</form>
					</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="aceptarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.GUARDAR}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.ACEPTA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="aceptaModal" th:text="#{COMUN.ACEPTAR}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLongTitle" th:text="#{COMUN.ELIMINA}"></h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{COMUN.RECHAZA.CONFIRMACION}"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
				        <a href="" class="btn btn-danger" id="rechazaModal" th:text="#{COMUN.RECHAZA}"></a>
				      </div>
				    </div>
				  </div>
				</div>
				
		</div>		
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comisiones/solicitudComision.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/moment.js}"></script>
	        <!-- <script charset="utf-8" th:src="@{/recursos/assets/date-picker/style/jquery-ui.css}"></script> -->
	        <link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />	
	        
		</th:block>
	</body>
</html>