<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/errorTemplate">
<body>
	<th:block layout:fragment="content"  th:remove="tag">
		<div class="page-header">
			<h2 th:text="${titulo}" class="text-danger"></h2>
			<hr class="red"/>
		</div>		
				
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-body">
						<h4>
							<span th:text="${session.SESION_NOMBRE_COMPLETO}"></span>
						</h4>
						<p th:text="${mensaje}"></p>
					</div>
					<div class="panel-footer">
						<div class="row">
				    		<div class="text-right">
				    			<a class="btn btn-primary" th:text="#{SEGURIDAD.IR_INICIO}" th:href="@{/}"></a>	
				    		</div>	    	
					    </div>
					</div>
				</div>
			</div>
		</div>			
	</th:block>
	</body>
</html>