<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">
	
	<body>
		<th:block layout:fragment="content"  th:remove="tag">
			<div class="main-page">
				<h1 th:text="#{TITULO_HOME}"></h1>	
				<hr/> 
			<div class="col-md-12">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="card card-detail">
							<h1 class="ico-asistencias">Asistencias</h1>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.asistencia}"></span></p>
								<p>D&iacute;as  Laborados</p>
								<a th:href="@{/asistencia/empleado}"><div class="arrow"></div></a>
							</div>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.justificaciones}"></span></p>
								<p>D&iacute;as  Justificados</p>
								<a th:href="@{/asistencia/empleado}"><div class="arrow"></div></a>
							</div>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.incidencias}"></span></p>
								<p>D&iacute;as  con Incidencias</p>
								<a th:href="@{/asistencia/empleado}"><div class="arrow"></div></a>
							</div>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.descuentos}"></span></p>
								<p>D&iacute;as  por Descontar</p>
								<a th:href="@{/asistencia/empleado}"><div class="arrow"></div></a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-detail">
							<h1 class="ico-vacaciones">Vacaciones</h1>
							<div class="form-group" th:if="${top.vacacion}">
								<p class="detail-text"><span th:text="${top.vacacion.descripcion}"></span></p>
								<div class="detail green">
									<p class="big-text"><span th:text="${top.vacacion.dias}"></span></p>
									<p>D&iacute;as Disponibles</p>
									<a th:href="@{/vacaciones/vacacionesPropias}"><div class="arrow"></div></a>
								</div>
							</div>
							<div  class="form-group" th:if="${top.vacacion1}">
								<p class="detail-text"><span th:text="${top.vacacion1.descripcion}"></span></p>
								<div class="detail gray">
									<p class="big-text"><span th:text="${top.vacacion1.dias}"></span></p>
									<p>D&iacute;as No disponibles</p>
									<div class="arrow"></div>
								</div>
							</div>
							<div  class="form-group" th:if="${top.vacacion2}">
								<p class="detail-text"><span th:text="${top.vacacion2.descripcion}"></span></p>
								<div class="detail gray">
									<p class="big-text"><span th:text="${top.vacacion2.dias}"></span></p>
									<p>D&iacute;as No disponibles</p>
									<div class="arrow"></div>
								</div>
							</div>
							<p class="text-right">
								<a class="btn btn-info" th:href="@{/vacaciones/solicitudVacaciones}" >Solicitar vacaciones</a>
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-detail">
							<h1 class="ico-licencias">Licencias medicas</h1>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.licencias}"></span></p>
								<p>Licencias encontradas</p>
								<a th:href="@{/licenciasMedicas/licenciasPropias}"><div class="arrow"></div></a>
							</div>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.diasIncapacidad}"></span></p>
								<p>D&iacute;as de Incapacidad</p>
								<a th:href="@{/licenciasMedicas/licenciasPropias}"><div class="arrow"></div></a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-detail">
							<h1 class="ico-comisiones">Comisiones</h1>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.comisionesT}"></span></p>
								<p>Comisiones al d&iacute;a </p>
								<div class="arrow"></div>
							</div>
							<div class="detail green">
								<p class="big-text"><span th:text="${top.comisiones}"></span></p>
								<p>Comisiones asignadas</p>
								<div class="arrow"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</th:block>
		<th:block th:inline="text" layout:fragment="includeCSS">
			<link rel="stylesheet" th:href="@{/recursos/css/main.css}" />
		</th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">		 				
		</th:block>
	</body>
</html>