<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}"></title>
		
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	 
	 	<link rel="icon"  th:href="@{/recursos/image/ico/favicon.ico}" type="image/x-icon" />
		<link rel="shortcut icon"  th:href="@{/recursos/image/ico/favicon.ico}" type="image/x-icon"/>  	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="page-login">
			<div class="form-group" th:if="${MENSAJE_EXCEPCION_LOGIN != null}">
				<div class="alert alert-danger">
					<span class="fa fa-exclamation-triangle"></span>
	      			<span th:text="${MENSAJE_EXCEPCION_LOGIN}"></span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
	          	</div>
			</div>
			<div class="container">
				<div class="row" id="formLogin" name="formLogin" style="display:none;">
					<div class="col-md-4 col-md-offset-4">
						<form th:action="@{/cambiaContrasenia}" method="post" id="formCambioContrasenia" autocomplete="off">
							<div class="box-login">
								<h1 th:text="#{CAMBIAR_PASSWORD}"></h1>
								<p th:text="#{LOGIN_TITLE_CONTRASENIA}"></p>
								<div class="divider">
									<div class="span"></div>
								</div>
								<label>
									<p> Por favor consdera las siguientes reglas:</p>
									<p> </p>
									<p><span class="glyphicon glyphicon-ok" id="regla1" name="regla1" ></span><span th:text="#{REGLA1}" ></span></p>
									<p><span class="glyphicon glyphicon-ok" id="regla2" name="regla2" ></span><span th:text="#{REGLA2}" ></span></p>
									<p><span class="glyphicon glyphicon-ok" id="regla3" name="regla3" ></span><span th:text="#{REGLA3}" ></span></p>
								</label>
								<label>
									<p th:text="#{LOGIN_USUARIO}"></p>
									<input type="text" name="accesoUsuario" class="form-control input-user" th:readonly="true" th:value="*{session.usuario.claveUsuario}" ></input>
								</label>
								<!-- <label>
									<p th:text="#{LOGIN_CONTRASENIA_ACTUAL}"></p>
									<input type="password" name="accesoClave" id="accesoClave" autocomplete="off" class="form-control input-pass" required="required" />
									<button type="button" class="btn-view" onclick="change_input_pass('.input-pass');"></button>
								</label> -->
								<label>
									<p th:text="#{LOGIN_NUEVA_CONTRASENIA}"></p>
									<input type="password" id="accesoClave1"  maxlength="8" minlength="8" name="accesoClave1" autocomplete="off" class="form-control input-pass" />
									<button type="button" class="btn-view" onclick="change_input_pass('.input-pass');"></button>
								</label>
								<label>
									<p th:text="#{LOGIN_CONTRASENIA_CONFIRMA}"></p>
									<input type="password" name="accesoClave2" equalTo="#accesoClave1" autocomplete="off" class="form-control input-pass" />
									<button type="button" class="btn-view" onclick="change_input_pass('.input-pass');"></button>
								</label>
								<p class="text-right">
									<a href="javascript:document.getElementById('logout').submit();" ><button type="button" class="btn btn-secondary" id="btnCancelar" th:text="#{COMUN.CANCELAR}"></button></a>
									<button id="btnCambioContrasenia" th:text="#{COMUN.GUARDAR}" class="btn btn-info"></button>
								</p>
							</div>
						</form>
					</div>
				</div>
				<div class="row" id="mensajeInicial" name="mensajeInicial" >
					<div class="col-md-4 col-md-offset-4">
							<div class="box-login">
								<h1 th:text="#{PRIMER_INICIO}"></h1>
								<p th:text="#{MENSAJE_PRIMER_INICIO_SESION}"></p>
								<div class="divider">
									<div class="span"></div>
								</div>
								<p class="text-right">
									<button id="btnMensajeInicial" name="btnMensajeInicial" th:text="#{COMUN.ACEPTAR}" class="btn btn-info"></button>
								</p>
							</div>
					</div>
				</div>
				<div class="row" id="contraseniaCambiada" name="contraseniaCambiada" >
					<div class="col-md-4 col-md-offset-4">
							<div class="box-login">
								<h1 th:text="#{CAMBIO_CONTRASENIA_CONFIRMACION}"></h1>
								<p th:text="#{MENSAJE_CAMBIO_CONTRASENIA_CONFIRMACION}"></p>
								<div class="divider">
									<div class="span"></div>
								</div>
								<p class="text-right">
									<a href="javascript:document.getElementById('logout').submit();" ><button id="btnContraseniaCambiada" name="btnContraseniaCambiada" th:text="#{COMUN.ACEPTAR}" class="btn btn-info"></button></a>
								</p>
							</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>Sistema de Control de Asistenca &copy; 2018</p>
						<p>Todos los Derechos Reservados</p>
					</div>
				</div>
			</div>
		</footer>
			
		<script charset="utf-8" th:src="@{/recursos/assets/jquery_1.11.3/js/jquery.min.js}"></script>
		<script charset="utf-8"	th:src="@{/recursos/assets/bootstrap_3.3.7/js/bootstrap.min.js}"></script>
		<script charset="utf-8"	th:src="@{/recursos/assets/jquery-validator/js/jquery.validation.js}"></script>
		<script charset="utf-8" th:src="@{/recursos/script/login/main.js}"></script>
		
		<th:block th:inline="text" layout:fragment="includeScript"></th:block>
	</body>
	<form th:action="@{/logout}" method="post" id="logout">
	</form>
</html>
