<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate">

<head>
<title th:text="#{TITULO_MAIN_PAGE}"
	layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_token" th:content="${session._token}"></meta>
<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta>
<meta th:if="${_csrf != null}" name="_csrf_header"
	th:content="${_csrf.headerName}"></meta>

<link th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"
	type="image/x-icon" />
<link th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"
	type="image/x-icon" />
<link rel="stylesheet"
	th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logos">
						<div class="logo-segob"></div>
						<div class="logo-control"></div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<th:block layout:fragment="content" th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes">
					<span class="input-clock"></span> Mis solicitudes
				</h1>
				<hr />
				<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
						<div class="alert alert-danger">
							<span class="fa fa-exclamation-triangle"></span> <span
								th:text="${MENSAJE_EXCEPCION}"></span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="form-group" th:if="${MENSAJE}">
						<div class="alert alert-success">
							<span class="fa fa-check"></span> <span th:text="${MENSAJE}"></span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				<div class="row tablaLicencias">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab"
							href="#misSolicitudes">Mis solicitudes</a></li>
					</ul>
				</div>
				
				<div class="tab-content">
					<div class="row tab-pane fade in active tablaLicencias">
						<div class="card" id="listaDeLicenciasEmpleados">
							<div id="misVacaciones">
								<!-- <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button id="muestraVacacionesPropias"  name="muestraVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          <span class="glyphicon glyphicon-chevron-right"  ></span><span> Mis solicitudes</span>
						        </button>
						        <button id="ocultaVacacionesPropias" name="ocultaVacacionesPropias" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="display: none;">
						          <span class="glyphicon glyphicon-chevron-down"  ></span><span> Mis solicitudes</span>
						        </button>
						      </h5>
						    </div> -->
								<!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"> -->
								<div class="card">
									<h3>Busca licencias m&eacute;dicas</h3>
									<div class="row">
										<p class="text-right">
											<a th:href="@{/licenciasMedicas/buscaDatos}"
												id="registrarMiLicencia"><button type="button"
													class="btn btn-primary">Pedir mi incapacidad</button></a>
										</p>
									</div>
									<div class="asistenciaForm">
										<!-- Formulario busqueda asistencia -->
										<form
											th:action="@{/licenciasMedicas/solicitudLicenciasEmpleados}"
											class="actualizaLicencia" method="get"
											enctype="multipart/form-data">
											<div class="row">
												<div class="col-md-3">
													<label>
														<p>No. de Empleado</p> <input id="claveUsuario"
														name="claveUsuario" type="text" class="form-control" />
													</label>
												</div>
												<div class="col-md-3">
													<label>
														<p>Nombre</p> <input id="nombre" name="nombre" type="text"
														class="form-control input-user" />
													</label>
												</div>
												<div class="col-md-3">
													<label>
														<p>Apellido Paterno</p> <input id="apellidoPaterno"
														name="apellidoPaterno" type="text" class="form-control" />
													</label>
												</div>
												<div class="col-md-3">
													<label>
														<p>Apellido Materno</p> <input id="apellidoMaterno"
														name="apellidoMaterno" type="text" class="form-control" />
													</label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3" sec:authorize="hasAuthority('1')">
													<label> <label for="idUnidad"
														class="col-form-label" th:text="#{UNIDAD_ADMINISTRATIVA}"></label>
														<select class="form-control" required="required"
														th:value="idUnidad" name="idUnidad" id="idUnidad">
															<option disabled="disabled" selected="selected">
																Elige una unidad</option>
															<option th:each="unidades : ${listaUnidades}"
																th:value="${unidades.idUnidad.idUnidad}"
																th:text="${unidades.idUnidad.nombre}"></option>
													</select>
													</label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<p class="text-right">
														<button id="btnVacacionesEmpleados"
															class="btn btn-default">Buscar</button>
													</p>
												</div>
											</div>
										</form>
									</div>

									<table id="tablaLicenciasEmpleados"
										class="table table-striped table-text-center">
										<thead>
											<tr class="filters">
												<th>No. de Empleado</th>
												<th>Nombre del Empleado</th>
												<th>Licencias Otorgadas</th>
												<th>D&iacute;as de Incapacidad</th>
												<th>Acci&oacute;n</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="licencia : ${licencias}">
												<td th:text="${licencia.idUsuario.claveUsuario}"></td>
												<td
													th:text="''+ ${licencia.idUsuario.nombre} + ' ' + ${licencia.idUsuario.apellidoPaterno} + ' ' + ${licencia.idUsuario.apellidoMaterno}"></td>
												<td th:text="${licencia.totalLicencias}"></td>
												<td th:text="${licencia.diasTotales}"></td>
												<td class="col-md-3"><a
													th:href="@{/licenciasMedicas/buscaDatosEmpleado(claveUsuario=${licencia.idUsuario.claveUsuario})}"
													class="eBtn" id="botonLlamar" name="botonLlamar">
														Registrar </a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="row tab-pane fade in active" id="detalleLicencia"
						style="display: none;">
						<div class="card">
							<form th:action="@{/licenciasMedicas/agregaSolicitudLicencia}"
								method="get" class="actualizaLicencia">
								<div class="row">
									<h2 class="ico-solicitudes">
										<span class="input-clock"></span>Solicitud de licencia
										m&eacute;dica
									</h2>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label> <label class="col-form-label">Fecha de
												solicitud</label> <input id="idSolicitud" name="idSolicitud"
											type="text" class="form-control" required="required"
											th:readonly="true" /> <input id="fechaSolicitud"
											name="fechaSolicitud" type="text" class="form-control"
											required="required" th:readonly="true" style="display: none;" />
											<!-- <input type="text" id="listaDiasFestivos" class="form-control" th:readonly="true" /> -->
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-2">
										<label> <label class="col-form-label">Nombre</label> <input
											id="nombre" name="nombre" type="text" class="form-control"
											required="required" th:readonly="true" />
										</label>
									</div>
									<div class="col-md-2">
										<label> <label class="col-form-label">Apellido
												paterno</label> <input id="apellidoPaterno" name="apellidoPaterno"
											type="text" class="form-control" required="required"
											th:readonly="true" />
										</label>
									</div>
									<div class="col-md-2">
										<label> <label class="col-form-label">Apellido
												materno</label> <input id="apellidoMaterno" name="apellidoMaterno"
											type="text" class="form-control" required="required"
											th:readonly="true" />
										</label>
									</div>
									<div class="col-md-2">
										<label> <label class="col-form-label">No.
												Empleado</label> <input id="claveUsuario1" name="claveUsuario1"
											type="text" class="form-control" required="required"
											th:readonly="true" />
										</label>
									</div>
									<div class="col-md-2">
										<label> <label class="col-form-label">Fecha de
												ingreso</label> <input id="fechaIngreso" name="fechaIngreso"
											type="text" class="form-control" required="required"
											th:readonly="true" />
										</label>
									</div>
									<div class="col-md-2">
										<label> <label class="col-form-label">RFC</label> <input
											id="rfc" name="rfc" type="text" class="form-control"
											required="required" th:readonly="true" />
										</label>
									</div>

								</div>
								<div class="row">
									<div class="col-md-6">
										<label> <label class="col-form-label">Puesto</label> <input
											id="idPuesto" name="idPuesto" type="text"
											class="form-control" required="required" th:readonly="true" />
										</label>
									</div>
									<div class="col-md-6">
										<label> <label class="col-form-label">Unidad
												administrativa</label> <input id="idUnidadAdministrativa"
											name="idUnidadAdministrativa" type="text"
											class="form-control" required="required" th:readonly="true" />
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label> <label class="col-form-label">Licencias
												otorgadas</label> <input id="idPuesto" name="idPuesto" type="text"
											class="form-control" required="required" th:readonly="true" />
										</label>
									</div>
									<div class="col-md-6">
										<label> <label class="col-form-label">D&iacute;as
												de incapacidad</label> <input id="idUnidadAdministrativa"
											name="idUnidadAdministrativa" type="text"
											class="form-control" required="required" th:readonly="true" />
										</label>
									</div>
								</div>
								<div class="row">
									<label> Selecciona fecha inicio y la fecha fin de la
										licencia m&eacute;dica</label>
									<div class="col-md-4">
										<label> <label class="col-form-label">Fecha de
												inicio </label> <input id="fechaInicio" name="fechaInicio"
											type="text" class="form-control input-calendar"
											required="required" th:readonly="true" />
										</label>
									</div>
									<div class="col-md-4">
										<label> <label class="col-form-label">Fecha de
												Fin </label> <input id="fechaFin" name="fechaFin" type="text"
											class="form-control input-calendar" required="required"
											th:readonly="true" />
										</label>
									</div>
									<div class="col-md-4">
										<!-- <div class="row">
												<label>
													<label class="col-form-label">Fecha de inicio </label>
													<input id="fechaInicio2" name="fechaInicio1" type="text" class="form-control" required="required" th:readonly="true" />
											</label>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label class="col-form-label">Fecha de fin </label>
												</div>
												<div class="col-md-6">
													<input id="fechaFin2" name="dias" type="text" class="form-control" required="required" th:readonly="true" />
												</div>
											</div> -->
										<div class="row">
											<div class="col-md-5">
												<label class="col-form-label">D&iacute;as otorgados
												</label>
											</div>
											<div class="col-md-7">
												<input id="dias" name="dias" type="text"
													class="form-control" required="required" th:readonly="true" />
											</div>
										</div>
										<div class="row">
											<p>Motivo de la licencia</p>
											<input id="padecimiento" name="padecimiento" type="text"
												class="form-control" required="required" />
										</div>
									</div>

								</div>
								<div class="row">
									<p class="text-center">
										<button
												type="button" class="btn btn-secondary" id="botonCancelar" data-dismiss="modal"
												th:text="#{COMUN.CANCELAR}"></button> <input type="submit"
											id="botonGuardarLicencia" class="btn btn-primary"
											th:value="#{COMUN.GUARDAR}" />
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="aceptarModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" id="exampleModalLongTitle"
								th:text="#{COMUN.GUARDAR}"></h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p th:text="#{COMUN.ACEPTA.CONFIRMACION}"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
							<a href="" class="btn btn-danger" id="aceptaModal"
								th:text="#{COMUN.ACEPTAR}"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="rechazarModal" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLongTitle"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" id="exampleModalLongTitle"
								th:text="#{COMUN.ELIMINA}"></h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p th:text="#{COMUN.RECHAZA.CONFIRMACION}"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" th:text="#{COMUN.CANCELAR}"></button>
							<a href="" class="btn btn-danger" id="rechazaModal"
								th:text="#{COMUN.RECHAZA}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:inline="text" layout:fragment="includeCSS"></th:block>

	<th:block th:inline="text" layout:fragment="includeScript">
		<script charset="utf-8"
			th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/script/licencias/solicitudLicenciaEmpleados.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
		<script charset="utf-8"
			th:src="@{/recursos/assets/date-picker/script/moment.js}"></script>
		<!-- <script charset="utf-8" th:src="@{/recursos/assets/date-picker/style/jquery-ui.css}"></script> -->
		<link rel="stylesheet"
			th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />

	</th:block>
</body>
</html>