@CHARSET "ISO-8859-1";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-style:inherit;font-family:'Helvetica', sans-serif, Arial;font-weight:normal;text-shadow:none}body{background:#F6F6F6}input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"]{font-size:12px;margin-bottom:5px;border:none;border-bottom:1px solid #CCCCCC;outline:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;border-radius:0 !important;-webkit-border-radius:0 !important;-moz-border-radius:0 !important}input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="number"]:focus{border-bottom:1px solid #69B0E7}input[type="text"].error,input[type="password"].error,input[type="email"].error,input[type="tel"].error,input[type="number"].error{border-bottom:1px solid #FD696B}input.input-user{background:url(../image/img/ico-user.svg) left center no-repeat;background-size:16px;padding-left:26px}input[type="password"].input-pass{background:url(../image/img/ico-view.svg) left center no-repeat;background-size:18px;padding-left:26px}input[type="text"].input-pass{background:url(../image/img/ico-dontview.svg) left center no-repeat;background-size:18px;padding-left:26px}input.input-calendar{background:url(../image/img/ico-calendar.svg) left center no-repeat;background-size:16px;padding-left:26px}input.input-flag{background:url(../image/img/ico-flag.svg) left center no-repeat;background-size:16px;padding-left:26px}input.input-clock{background:url(../image/img/ico-clock.svg) left center no-repeat;background-size:16px;padding-left:26px}.btn{padding:7px 40px;font-size:14px;border-radius:20px !important;-webkit-border-radius:20px !important;-moz-border-radius:20px !important;transition:all 0.3s ease;-ms-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease}.btn-info{border:1px solid #4E92DF;background:#4E92DF}.btn-info:hover{border:1px solid #025abe;background:#025abe}.btn-default{border:1px solid #4E92DF;background:#FFFFFF;color:#4E92DF}.btn-default:hover{border:1px solid #025abe;background:#FFFFFF;color:#025abe}.btn-success{background:#9DCF72;border:1px solid #9DCF72}.btn-danger{background:#FD696B;border:1px solid #FD696B}a{color:#4E92DF;transition:all 0.3s ease;-ms-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease}a:hover{color:#025abe;text-decoration:none}.marginT160{margin-top:160px}header{background:#FFFFFF;border-bottom:10px solid #545454;position:fixed;top:0;left:0;right:0;z-index:99}header .logos{display:flex;height:100px;align-items:center}header .logos .logo-segob{background:url(../image/img/logo-segob.png) center center no-repeat;background-size:contain;width:217px;height:68px;margin-right:20px}header .logos .logo-control{background:url(../image/img/logo-control.png) center center no-repeat;background-size:contain;width:461px;height:67px;margin-left:auto}.main-menu{background:#545454;position:fixed;top:110px;left:0;right:0;z-index:99}.main-menu .navbar{margin:0;min-height:auto;border:none}.main-menu .navbar .navbar-toggle{margin-top:0}.main-menu .navbar .navbar-toggle .icon-bar{background:#FFFFFF}.main-menu .navbar .navbar-collapse ul.navbar-nav li{border-bottom:5px solid #545454;transition:all 0.3s ease;-ms-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease}.main-menu .navbar .navbar-collapse ul.navbar-nav li a{color:#FFFFFF;padding-top:0;padding-bottom:10px}.main-menu .navbar .navbar-collapse ul.navbar-nav li a:hover{background:transparent}.main-menu .navbar .navbar-collapse ul.navbar-nav li:hover,.main-menu .navbar .navbar-collapse ul.navbar-nav li.active{border-bottom:5px solid #FD696B}.main-menu .navbar-right{margin-top:-5px}.main-menu .navbar-right li.dropdown{background:transparent;border-bottom:none}.main-menu .navbar-right li.dropdown a{background:transparent;font-size:13px;line-height:15px;padding:0!important}.main-menu .navbar-right li.dropdown a:hover{background:transparent}.main-menu .navbar-right li.dropdown .dropdown-menu{border-radius:5px !important;-webkit-border-radius:5px !important;-moz-border-radius:5px !important}.main-menu .navbar-right li.dropdown .dropdown-menu li{border-bottom:none!important}.main-menu .navbar-right li.dropdown .dropdown-menu li a{color:#000000;padding:5px 10px!important}.main-menu .navbar-right li.dropdown .dropdown-menu li a:hover{background:#FD696B;color:#FFFFFF;padding:5px 10px!important}.main-menu .navbar-right li:hover,.main-menu .navbar-right li.active{border-bottom:none!important}.alert{position:fixed;top:150px;left:20px;right:20px;font-size:14px;z-index:9}.alert .close{font-size:16px}.page-login{background:url(../image/img/bg-login.jpg) center center no-repeat;background-size:cover;padding:160px 0;margin-top:110px}.main-page{background:#F6F6F6;padding:0px 0;margin-top:0px}.main-page .nav-tabs{border-bottom:0;position:relative;top:5px}.main-page .nav-tabs li a{border-top-left-radius:10px !important;-webkit-border-top-left-radius:10px !important;-moz-border-top-left-radius:10px !important;border-top-right-radius:10px !important;-webkit-border-top-right-radius:10px !important;-moz-border-top-right-radius:10px !important;color:#272829;padding:10px 40px;background:#E7E7E7}.main-page .nav-tabs li.active a{background:#FFFFFF;border:none}.main-page .card{background:#FFFFFF;padding:25px;margin-bottom:30px;border-radius:10px !important;-webkit-border-radius:10px !important;-moz-border-radius:10px !important}.main-page .card h1{font-size:20px;border-bottom:1px solid #EFEFEF;margin-bottom:30px;padding-bottom:10px}.main-page .card h1.ico-asistencias,.main-page .card h1.ico-incidencias{background:url(../image/img/title-incidencias.svg) no-repeat;background-size:22px;padding-left:40px}.main-page .card h1.ico-solicitudes{background:url(../image/img/title-solicitudes.svg) no-repeat;background-size:20px;padding-left:40px}.main-page .card h1.ico-vacaciones{background:url(../image/img/title-vacaciones.svg) no-repeat;background-size:25px;padding-left:40px}.main-page .card h1.ico-licencias{background:url(../image/img/title-licencias.svg) no-repeat;background-size:25px;padding-left:40px}.main-page .card h1.ico-comisiones{background:url(../image/img/title-comisiones.svg) no-repeat;background-size:25px;padding-left:40px}.main-page .card h1.ico-search{background:url(../image/img/title-search.svg) no-repeat;background-size:20px;padding-left:30px}.main-page .card h2{font-size:18px}.main-page .card label{display:block;width:100%;margin-bottom:30px}.main-page .card label p{font-size:13px;color:#3D4042}.main-page .card label input{margin:0}.main-page .card label p.text{font-weight:bold;font-size:18px}.main-page .card button{margin:10px 3px}.main-page .card .divider{background:#EFEFEF;width:100%;height:1px;margin:15px 0}.main-page .card .table{margin-top:20px}.main-page .card .table thead tr td{font-weight:bold;text-align:center;padding:13px;font-size:13px;color:#28282a}.main-page .card .table tbody tr td{text-align:center;padding:13px;font-size:13px;color:#3D3D3D;border:none}.main-page .card .table tbody tr td a{font-weight:bold}.main-page .card .buscador{margin-top:30px}.main-page .card p.detail-text{font-size:12px;color:#B2B2B2}.main-page .card .detail{display:flex;align-items:center;margin-bottom:15px}.main-page .card .detail p{font-size:13px}.main-page .card .detail .big-text{line-height:37px;font-size:35px;margin-right:10px}.main-page .card .detail .arrow{width:10px;height:10px;margin-left:10px}.main-page .card .detail.green .big-text{color:#9DCF72}.main-page .card .detail.green .arrow{background:url(../image/img/next-green.svg) center center no-repeat;background-size:contain}.main-page .card .detail.gray p,.main-page .card .detail.gray .big-text{color:#B2B2B2}.main-page .card .detail.gray .arrow{background:url(../image/img/next-gray.svg) center center no-repeat;background-size:contain}.main-page .card-detail{min-height:380px}.page-login .box-login,.main-page .box-login{background:#FFFFFF;padding:25px;-webkit-box-shadow:0px 0px 15px 0px #ccc;-moz-box-shadow:0px 0px 15px 0px #ccc;box-shadow:0px 0px 15px 0px #ccc;border-radius:10px !important;-webkit-border-radius:10px !important;-moz-border-radius:10px !important}.page-login .box-login h1,.main-page .box-login h1{color:#272829;font-size:20px;font-weight:100;margin-bottom:3px}.page-login .box-login p,.main-page .box-login p{color:#272829;font-size:14px;font-weight:100;margin-bottom:5px}.page-login .box-login ul,.main-page .box-login ul{list-style:none;margin:10px 0}.page-login .box-login ul li,.main-page .box-login ul li{font-size:12px;color:#272829;font-weight:100;margin-left:18px;margin-bottom:2px}.page-login .box-login ul li:before,.main-page .box-login ul li:before{content:" ";display:block;position:absolute;margin-left:-18px;margin-top:4px;width:10px;height:10px;background:url(../image/img/ico-check.svg) center center no-repeat;background-size:contain}.page-login .box-login ul li.done:before,.main-page .box-login ul li.done:before{background:url(../image/img/ico-check-done.svg) center center no-repeat;background-size:contain}.page-login .box-login .divider,.main-page .box-login .divider{border-top:1px solid #DCE0E0;margin:15px 0}.page-login .box-login .divider .span,.main-page .box-login .divider .span{background:#CE0A23;width:50px;height:6px}.page-login .box-login label,.main-page .box-login label{width:100%;display:block;margin-top:25px;position:relative}.page-login .box-login label p,.main-page .box-login label p{font-weight:normal;margin:0}.page-login .box-login label .btn-view,.main-page .box-login label .btn-view{background:transparent;border:none;width:19px;height:22px;position:absolute;bottom:1px;left:0;cursor:pointer}.page-login .box-login button,.main-page .box-login button{margin-top:20px}footer{background:#DDDDDD;padding:10px 0}footer p{color:#272829;font-size:12px}@media screen and (max-width: 767px){.main-menu .navbar .navbar-collapse ul.navbar-nav li{border-bottom:none}.main-menu .navbar .navbar-collapse ul.navbar-nav li a{color:#FFFFFF;padding-top:5px!important;padding-bottom:5px!important}.main-menu .navbar .navbar-collapse ul.navbar-nav li a:hover{background:transparent}.main-menu .navbar .navbar-collapse ul.navbar-nav li:hover,.main-menu .navbar .navbar-collapse ul.navbar-nav li.active{border-bottom:none}.main-menu .navbar .navbar-collapse ul.navbar-nav li:hover a,.main-menu .navbar .navbar-collapse ul.navbar-nav li.active a{background:#FD696B;color:#FFFFFF}.main-menu .navbar-right{margin:0 10px 0 10px}.main-menu .navbar-right li.dropdown{background:transparent!important;border-bottom:none}.main-menu .navbar-right li.dropdown a{background:transparent!important;padding:0!important;color:#FFFFFF}.main-menu .navbar-right li.dropdown a:hover{background:transparent}.main-menu .navbar-right li.dropdown .dropdown-menu li{border-bottom:none!important}.main-menu .navbar-right li.dropdown .dropdown-menu li a{color:#FFFFFF;padding:5px 10px!important}.main-menu .navbar-right li.dropdown .dropdown-menu li a:hover{background:#FD696B;color:#FD696B;padding:5px 10px!important}.main-menu .navbar-right li:hover,.main-menu .navbar-right li.active{border-bottom:none!important}}@media screen and (max-width: 991px){.main-menu .navbar .navbar-collapse ul.navbar-nav li a{padding:0 8px 10px 8px;font-size:12px}.main-menu .navbar-right{margin-top:-5px}.main-menu .navbar-right li a{font-size:12px}}

body { 
	padding-top: 70px; 
}

nav {
	margin-top: 35px;
}

/*Estilos comunes*/
.red{
	position: inherit!important;
}

.error{
	color: red;
	font-size: 11pt;
}


/*Ajuste a estilos de los datatable*/
div.dataTables_wrapper div.messageProcessing {
    background: white;
    width: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    padding: 6px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center
} 
div.dataTables_wrapper div.dataTables_processing {
    top : 0px;
    left : 0px;
    width : 100%;
    height : 100%;
    margin-left:0px;
    margin-top:0px;
    text-align : center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.4);
}


/*Estilos definidos para el uso de un overlay para bloqueo de una pantalla*/
DIV.overlay{
  position: fixed;s
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1061;
  background-color: rgba(0,0,0,0.5);
}
DIV.overlayModal{
position: fixed;
    top: 50%;
    left: 50%;
    padding : 10px;
    line-height: 100px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color:#fff;
    z-index: 1062;
    outline: 9999px solid rgba(0,0,0,0.3);
}

.error{
	color: red;
	font-size: 11pt;
}

.table-text-center th, .table-text-center td {
    text-align: center;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
    text-align: center;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
    text-align: center;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
    text-align: center;
}

/*Para evivar que el timepicker se muestre detrás del modal*/
.ui-timepicker-container{ 
     z-index:1151 !important; 
}

