<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate"
	xmlns:sec="http://www.thymeleaf.org">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Control de Asistencias</h1>
				<hr/>
				
				<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
					<div class="alert alert-danger">
						<span class="fa fa-exclamation-triangle"></span>
		      			<span th:text="${MENSAJE_EXCEPCION}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		          	</div>
				</div>
				<div class="form-group" th:if="${MENSAJE}">
					<div class="alert alert-success">
						<span class="fa fa-check"></span>
		      			<span th:text="${MENSAJE}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		          	</div>
				</div>
				<div class="row">
					<div>
						<ul class="nav nav-tabs" id="tabs" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" id="asistencias-tab" data-toggle="tab" href="#asistencias" role="tab" aria-controls="asistencias" aria-selected="true">Buscar</a>
							</li>
							
	<!-- 						<li class="nav-item"> -->
	<!-- 					  	   <a class="nav-link"         id="buscar-tab" data-toggle="tab" href="#buscar" role="tab" aria-controls="buscar" aria-selected="false">Buscar</a> -->
	<!-- 					    </li> -->
						</ul>
					</div>
				</div>
				<div class="row">
					<!-- Tab panes -->
					<div class="tab-content">
						
						<!-- buscar -->
						<div class="tab-pane active" id="asistencias" role="tabpanel" aria-labelledby="asistencias-tab">
							<div class="card">
							
								<!-- Sección búsqueda inicial y resultados de búsqueda -->
								<div class="asistenciaForm form-group">
									<form id="buscarRango" th:action="@{/asistencia/coordinador/busca}" method="get">
										<div class="row">	
											<div class="form-group col-md-3">
												<p>No. de Empleado</p>
												<input th:value="${cve_m_usuario}" type="text" class="form-control" id="numeroEmpleado" name="cve_m_usuario" autocomplete="off" size="100%" />
											</div>
								            <div class="col-md-3">
												<label>
													<p>Nombre</p>
													<input th:value="${nombre}" type="text" class="form-control input-user" id="nombre" name="nombre" />
												</label>
											</div>
											<div class="col-md-3">
												<label>
													<p>Apellido Paterno</p>
													<input th:value="${paterno}" type="text" class="form-control" id="paterno" name="paterno" />
												</label>
											</div>
											<div class="col-md-3">
												<label>
													<p>Apellido Materno</p>
													<input th:value="${materno}" type="text" class="form-control" id="materno" name="materno" />
												</label>
											</div>
								        </div>
								        <div class="row">
											<div class="col-md-2">
												<label>
													<p>Nivel</p>
													<input th:value="${nivel}" type="text" class="form-control input-flag" id="nivel" name="nivel" />
												</label>
											</div>
											<div class="col-md-4">
												<label>
													<p>Tipo</p>
													<input th:value="${tipo}" type="text" class="form-control input-flag" id="tipo" name="tipo" />
												</label>
											</div>
											<div class="col-md-2">
												<label>
													<p>Estado</p>
													<input th:value="${estado}" type="text" class="form-control input-flag" id="estado" name="estado"/>
												</label>
											</div>
											<div class="col-md-2">
							                	<p>Fecha Inicial</p>
							                    <input th:value="${fechaInicial}" type='text' class="form-control input-calendar input-group date" id="validBeforeDatepicker" name="fechaInicial" autocomplete="off" size="100%" />
								            </div>
								            <div class="col-md-2">
							                	<p>Fecha Final</p>
							                    <input th:value="${fechaFinal}" type='text' class="form-control input-calendar input-group date" id="validAfterDatepicker" name="fechaFinal" autocomplete="off" size="100%" />
								            </div>
										</div>
										<div class="row">
											<div class="col-md-4">
							                	<p>Unidad Administrativa</p>
							                    <input th:value="${unidadAdministrativa}" type="text" class="form-control input-flag" id="unidadAdministrativa" name="unidadAdministrativa"/>
								            </div>
										</div>
								        <div class="row">
								        	<div class="col-md-12">
								        		<div class="form-group col-md-3"></div>
								        		<div class="form-group col-md-3">
								        			<p class="text-right" th:hidden="${#arrays.length(listaAsistencia)} == 0 ? 'true' : 'false'">
														<button type="button" class="btn btn-default" id="imprimir">Imprimir Consulta</button>
													</p>
								        		</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" name="exporta" value="exporta">Exportar Excel</button>
													</p>
												</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" id="buscaBtn" name="busca" value="busca">Buscar</button>
													</p>
												</div>
											</div>
										</div>
										
 									</form>
					            </div>
					            
					        	<hr/>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} == 0">No se encontraron resultados</h2>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} != 0">
					        		<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'Se encontraron' : 'Se encontr&oacute;'"></span>
				        			<b>
				        				<span th:text="${#arrays.length(listaAsistencia)}"></span>
				        				<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'resultados ' : 'resultado '"></span>de b&uacute;squeda:
				        			</b>
					        	</h2>
					        	<div class="buscador" th:if="${#arrays.length(listaAsistencia)} != 0">
									<form id="buscarRango" th:action="@{/asistencia/coordinador/buscaAsistenciasPorId}" method="POST">
										<table id="tableAsistencias" class="table table-striped table-text-center">
											<thead>
												<tr>
													<th>NIVEL</th>
													<th>EMPLEADO</th>
													<th>NOMBRE</th>
													<th>PUESTO</th>
													<th>U. A.</th>
													<th>FECHA</th>
													<th>TIPO</th>
													<th>ESTADO</th>
													<th>DETALLE</th>
													<th th:if="${activaCheckbox}"><button id="justificacionMultipleListaBtn" class="btn btn-default" name="busca" value="busca">Justifica</button></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="asistencia : ${listaAsistencia}">
													<td id="idAsistencia" th:text="${asistencia.usuario.nivel}"></td>
													<td th:text="${asistencia.usuario.claveUsuario}"></td>
													<td th:text="${asistencia.usuario.nombre + ' ' + asistencia.usuario.apellidoPaterno + ' ' + asistencia.usuario.apellidoMaterno}"></td>
													<td th:text="${asistencia.usuario.clavePerfil.descripcion}"></td>
													<td th:text="${asistencia.usuario.nombreUnidad}"></td>
													<td th:text="${asistencia.entrada}"></td>
													<td th:text="${asistencia.idTipoDia.nombre}"></td>
													<td>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and asistencia.incidencia.descuento}">Descuento Aprobado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Aprobada</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and asistencia.incidencia.descuento}">Descuento Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and asistencia.incidencia.descuento}">Descuento Rechazado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Rechazada</span>
													</td> 
													<td> 
														<span th:if="${(asistencia.idTipoDia.idTipoDia != 1 and asistencia.idTipoDia.idTipoDia != 5 and asistencia.idTipoDia.idTipoDia != 7 
																		and asistencia.idTipoDia.idTipoDia != 8) and asistencia.idEstatus.idEstatus != 2 and asistencia.idEstatus.idEstatus != 3}">
															<a th:href="@{/asistencia/buscaId/(id=${asistencia.idAsistencia})}" class="detalleBtn">Ver Detalle</a>
														</span>
													</td>
													<td th:if="${activaCheckbox}">
														<input th:if="${asistencia.idEstatus.idEstatus == null and asistencia.idTipoDia.idTipoDia != 1}" th:type="checkbox" th:value="${asistencia.idAsistencia}" name="checkboxes"/>
													</td>
												</tr>
											</tbody>
										</table>
											
										<input type="hidden" class="form-control" id="numeroEmpleadoHiddenListaMultiple" name="cve_m_usuario_hidden_lista_multiple"/>
								        <input type="hidden" class="form-control" id="fechaInicialHidddenListaMultiple" name="fechaInicial_hidden_lista_multiple"/>
								        <input type="hidden" class="form-control" id="fechaFinalHiddenListaMultiple" name="fechaFinal_hidden_lista_multiple"/>
								        
									</form>
								</div>
								
								<!-- Sección justificación múltiple -->
								<form id="formJustificacionMultiple" th:action="@{/asistencia/coordinador/justificaMultiple}" method="POST" enctype="multipart/form-data">
									<div th:if="${#arrays.length(listaAsistenciaJustificar)} != 0">
										<h2>
							        		<span>Se van a justificar</span>
						        			<b>
						        				<span th:text="${#arrays.length(listaAsistenciaJustificar)}"></span>
						        				<span th:text="${#arrays.length(listaAsistenciaJustificar)} > 1 ? 'incidencias ' : 'incidencia '"></span>:
						        			</b>
							        	</h2>
							        	
							        	<div class="buscador" th:if="${#arrays.length(listaAsistenciaJustificar)} != 0">
											<table id="tableAsistencias" class="table table-striped table-text-center">
												<thead>
													<tr>
														<th>NIVEL</th>
														<th>EMPLEADO</th>
														<th>NOMBRE</th>
														<th>PUESTO</th>
														<th>U. A.</th>
														<th>FECHA</th>
														<th>TIPO</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="asistencia : ${listaAsistenciaJustificar}">
														<td id="idAsistencia" th:text="${asistencia.usuario.nivel}"></td>
														<td th:text="${asistencia.usuario.claveUsuario}"></td>
														<td th:text="${asistencia.usuario.nombre + ' ' + asistencia.usuario.apellidoPaterno + ' ' + asistencia.usuario.apellidoMaterno}"></td>
														<td th:text="${asistencia.usuario.clavePerfil.descripcion}"></td>
														<td th:text="${asistencia.usuario.nombreUnidad}"></td>
														<td th:text="${asistencia.entrada}"></td>
														<td th:text="${asistencia.idTipoDia.nombre}"></td>
														<td>
															<input th:type="checkbox" th:value="${asistencia.idAsistencia}" name="listaIdAsistencias" th:checked="true"/>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										  	
										<div class="modal-footer">
											<div class="form-group col-md-4">
									        	<p style="text-align: left">Motivo</p>
									            <select class="form-control" id="selectJustificacion" name="selectJustificacion" th:required="required" th:autocomplete="off" >
									            	<option></option>
									            	<option th:each="j : ${listaJustificaciones}" th:text="${j.justificacion}" th:value="${j.idJustificacion}" th:selected="${justificacion == j.justificacion}"></option>
									            </select>
									        </div>
									        
									        <div class="form-group col-md-4">
									        	<p style="text-align: left">Autorizador</p>
									            <select th:if="${#arrays.length(listaAutorizadores)} > 0" class="form-control" id="selectAutorizador" name="nombreAutorizador" th:required="required" th:autocomplete="off">
									            	<option></option>
									            	<option th:each="a : ${listaAutorizadores}" th:text="${a.nombre}" th:value="${a.nombre}" th:selected="${nombreJefe == a.nombre}"></option>
									            </select>
									            <input th:if="${#arrays.length(listaAutorizadores)} == 0" type="text" class="form-control input-flag" name="nombreAutorizador" />
									        </div>
						        
									        <div class="form-group col-md-4">
										        <label>
													<p style="text-align: left">Adjuntar Archivo</p>
													 <input type="file" name="archivo" id="archivo" multiple="multiple" />
												</label>
										    </div>
										    
										    <input type="hidden" class="form-control" id="numeroEmpleadoHiddenGuardaMultiple" name="cve_m_usuario_hidden_guarda_multiple"/>
									        <input type="hidden" class="form-control" id="fechaInicialHidddenGuardaMultiple" name="fechaInicial_hidden_guarda_multiple"/>
									        <input type="hidden" class="form-control" id="fechaFinalHiddenGuardaMultiple" name="fechaFinal_hidden_guarda_multiple"/>
									    	
									    </div>
									    
									    <div class="row">
									    	<div class="form-group col-md-3"></div>
									    	<div class="form-group col-md-3"></div>
									    	<div class="form-group col-md-3">	
									    		<input type="submit" class="btn btn-default" th:value="#{IMPRIMIR_FORMATO_JUSTIFICACION}" id="formatoJustificacionMultipleBtn" name="formatoJustificacionMultipleBtn" value="formatoJustificacionMultipleBtn" />
									    	</div>
										    <div class="form-group col-md-3">
										    		<input type="submit" class="btn btn-success" th:value="Justificar" id="justificacionMultipleGuardaBtn" name="justificacionMultipleGuarda" value="justificacionMultipleGuarda" />
										    </div>
									    </div>
								    </div>
							    </form>
							</div><!-- card -->
						</div>
					</div>
				</div><!-- row -->
			</div>
		</div>	
		
		
		<!-- modal para agregar justificación y descuento -->
		<div class="justificaForm">
      		<form th:action="@{/asistencia/creaIncidencia}" method="post" enctype="multipart/form-data">
				<div class="modal fade" id="justificaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 80%">
						<div class="modal-content">
					    	<div class="modal-header">
					      		<h3 class="modal-title" id="exampleModalLabel">Incidencia de empleado</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								 </button>
						    </div>
					    	<div class="modal-body col-md-12">
					    		<div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Puesto</label>
						            <input type="text" class="form-control" id="puestoModal" name="puesto" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Unidad Administrativa</label>
						            <input type="text" class="form-control" id="unidadModal" name="unidad" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">N&uacute;mero de Empleado</label>
						            <input type="text" class="form-control" id="cve_m_usuarioModal" name="cve_m_usuario" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Nombre</label>
						            <input type="text" class="form-control" id="nombreModal" name="nombre" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Fecha Ingreso</label>
						            <input type="text" class="form-control" id="fechaIngresoModal" name="fechaIngreso" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">RFC</label>
						            <input type="text" class="form-control" id="RFCModal" name="RFC" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="fecha" class="col-form-label">Fecha Incidencia</label>
						            <input type="text" class="form-control" id="fechaModal" name="fecha" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Tipo de Incidencia</label>
						            <input type="text" class="form-control" id="tipoDiaModal" name="tipoDia" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Estado</label>
						            <input type="text" class="form-control" id="estadoModal" name="estado" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectJustificacion" class="col-form-label" th:text="Motivo"></label>
						            <select class="form-control" id="selectJustificacion" name="idJustificacion" th:required="required" autocomplete="off">
						            	<!-- los option se generan a través de jquery en asistencias.js -->
						            </select>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectAutorizador" class="col-form-label" th:text="Autorizador"></label>
						            <select class="form-control" id="selectAutorizador" name="nombreAutorizador" th:required="required" autocomplete="off">
						            	<!-- los option se generan a través de jquery en asistencias.js -->
						            </select>
						            <input id="textAutorizador" type="text" name="nombreAutorizador" class="form-control input-user" /> 
						        </div>
						        
						        <div class="form-group col-md-4">
							        <label>
										<p>Adjuntar Archivo</p>
										 <input type="file" name="archivo" id="archivo" multiple="multiple" />
									</label>
							    </div>
							    
						        <input type="hidden" class="form-control" id="idTipoDiaModal" name="idTipoDiaModal" />
						        <input type="hidden" class="form-control" id="idAsistenciaHidden" name="idAsistenciaHidden" />
						        <input type="hidden" class="form-control" id="idTipoDia" name="idTipoDia"/>
						        <input type="hidden" class="form-control" id="numeroEmpleadoHidden" name="cve_m_usuario_hidden"/>
						        <input type="hidden" class="form-control" id="fechaInicial" name="fechaInicial"/>
						        <input type="hidden" class="form-control" id="fechaFinal" name="fechaFinal"/>
						        <input type="hidden" class="form-control" id="nombreHidden" name="nombreHidden"/>
						        <input type="hidden" class="form-control" id="paternoHidden" name="paternoHidden"/>
						        <input type="hidden" class="form-control" id="maternoHidden" name="maternoHidden"/>
						        <input type="hidden" class="form-control" id="nivelHidden" name="nivelHidden"/>
						        <input type="hidden" class="form-control" id="tipoHidden" name="tipoHidden"/>
						        <input type="hidden" class="form-control" id="estadoHidden" name="estadoHidden"/>
						        <input type="hidden" class="form-control" id="unidadAdministrativaHidden" name="unidadAdministrativaHidden"/>
						        
					    	</div>
						    <div class="modal-footer">
			    				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="Regresar"></button>
			    				<input type="submit" class="btn btn-default" th:value="#{IMPRIMIR_FORMATO_JUSTIFICACION}" name="formatoJustificacion" value="formatoJustificacion" />
			    				<input type="submit" class="btn btn-default" th:value="#{IMPRIMIR_FORMATO_DESCUENTO}" name="formatoDescuento" value="formatoDescuento" />
						    	<input type="submit" class="btn btn-danger" th:value="Descontar" name="descuenta" value="descuenta" />
						    	<input type="submit" class="btn btn-success" th:value="Justificar" name="justifica" value="justifica"/>
						    </div>
					  	</div>
					</div>
				</div>
     		</form>
    	</div>
    	
    	<!-- modal para descuento -->
		<div class="descuentoForm">
      		<form th:action="@{/asistencia/creaIncidencia}" method="post" enctype="multipart/form-data">
				<div class="modal fade" id="justificaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 80%">
						<div class="modal-content">
					    	<div class="modal-header">
					      		<h3 class="modal-title" id="exampleModalLabel">Incidencia de empleado</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								 </button>
						    </div>
					    	<div class="modal-body col-md-12">
					    		<div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Puesto</label>
						            <input type="text" class="form-control" id="puestoModal" name="puesto" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Unidad Administrativa</label>
						            <input type="text" class="form-control" id="unidadModal" name="unidad" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">N&uacute;mero de Empleado</label>
						            <input type="text" class="form-control" id="cve_m_usuarioModal" name="cve_m_usuario" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Nombre</label>
						            <input type="text" class="form-control" id="nombreModal" name="nombre" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Fecha Ingreso</label>
						            <input type="text" class="form-control" id="fechaIngresoModal" name="fechaIngreso" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">RFC</label>
						            <input type="text" class="form-control" id="RFCModal" name="RFC" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="fecha" class="col-form-label">Fecha Incidencia</label>
						            <input type="text" class="form-control" id="fechaModal" name="fecha" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Tipo de Incidencia</label>
						            <input type="text" class="form-control" id="tipoDiaModal" name="tipoDia" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Estado</label>
						            <input type="text" class="form-control" id="estadoModal" name="estado" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectJustificacion" class="col-form-label" th:text="Motivo"></label>
						            <input type="text" class="form-control" id="justificacion" name="justificacion" autocomplete="off" />
						        </div>
						        
						        <div class="form-group col-md-4">
							        <label>
										<p>Adjuntar Archivo</p>
										 <input type="file" name="archivo" id="archivo" multiple="multiple" />
									</label>
							    </div>
							    
							    <div class="form-group col-md-4">
									<a id="linkArchivo">Ver Archivo</a>
						        </div>
						        
						        <input type="hidden" class="form-control" id="idAsistenciaHidden" name="idAsistenciaHidden" />
						        <input type="hidden" class="form-control" id="idTipoDia" name="idTipoDia"/>
						        <input type="hidden" class="form-control" id="numeroEmpleadoHidden" name="cve_m_usuario_hidden"/>
						        <input type="hidden" class="form-control" id="fechaInicial" name="fechaInicial"/>
						        <input type="hidden" class="form-control" id="fechaFinal" name="fechaFinal"/>
						        <input type="hidden" class="form-control" id="nombreHidden" name="nombreHidden"/>
						        <input type="hidden" class="form-control" id="paternoHidden" name="paternoHidden"/>
						        <input type="hidden" class="form-control" id="maternoHidden" name="maternoHidden"/>
						        <input type="hidden" class="form-control" id="nivelHidden" name="nivelHidden"/>
						        <input type="hidden" class="form-control" id="tipoHidden" name="tipoHidden"/>
						        <input type="hidden" class="form-control" id="estadoHidden" name="estadoHidden"/>
						        <input type="hidden" class="form-control" id="unidadAdministrativaHidden" name="unidadAdministrativaHidden"/>
						        
					    	</div>
						    <div class="modal-footer">
			    				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="Regresar"></button>
			    				<button type="button" class="btn btn-default" data-dismiss="modal">Imprimir Formato</button>
						    	<input type="submit" class="btn btn-danger" th:value="Descontar" name="descuenta" value="descuenta" />
						    </div>
					  	</div>
					</div>
				</div>
     		</form>
    	</div>
    	
    	<!-- modal para justifación múltiple -->
		<div class="justificaMultipleForm">
      		<form id="formJustificaMultiple" th:action="@{/asistencia/coordinador/justificaMultiple}" method="post">
				<div class="modal fade" id="justificaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 80%">
						<div class="modal-content">
					    	<div class="modal-header">
					      		<h3 class="modal-title" id="exampleModalLabel">Incidencias de empleado</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								 </button>
						    </div>
					    	<div class="modal-body col-md-12">
					    		<div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Puesto</label>
						            <input type="text" class="form-control" id="puestoModal" name="puesto" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Unidad Administrativa</label>
						            <input type="text" class="form-control" id="unidadModal" name="unidad" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">N&uacute;mero de Empleado</label>
						            <input type="text" class="form-control" id="cve_m_usuarioModal" name="cve_m_usuario" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Nombre</label>
						            <input type="text" class="form-control" id="nombreModal" name="nombre" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Fecha Ingreso</label>
						            <input type="text" class="form-control" id="fechaIngresoModal" name="fechaIngreso" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">RFC</label>
						            <input type="text" class="form-control" id="RFCModal" name="RFC" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectJustificacion" class="col-form-label" th:text="Motivo"></label>
						            <input type="text" class="form-control" id="justificacion" name="justificacion" autocomplete="off" />
						        </div>
						        
						        <div class="form-group col-md-4">
							        <label>
										<p>Adjuntar Archivo</p>
										 <input type="file" name="archivo" id="archivo" multiple="multiple" th:required="required" />
									</label>
							    </div>
							    
							    <div class="form-group col-md-4">
									<a id="linkArchivo">Ver Archivo</a>
						        </div>
						        
						        <input type="hidden" class="form-control" id="idAsistenciaHidden" name="idAsistenciaHidden" />
						        <input type="hidden" class="form-control" id="idTipoDia" name="idTipoDia"/>
						        <input type="hidden" class="form-control" id="numeroEmpleadoHidden" name="cve_m_usuario_hidden"/>
						        <input type="hidden" class="form-control" id="fechaInicial" name="fechaInicial"/>
						        <input type="hidden" class="form-control" id="fechaFinal" name="fechaFinal"/>
						        <input type="hidden" class="form-control" id="nombreHidden" name="nombreHidden"/>
						        <input type="hidden" class="form-control" id="paternoHidden" name="paternoHidden"/>
						        <input type="hidden" class="form-control" id="maternoHidden" name="maternoHidden"/>
						        <input type="hidden" class="form-control" id="nivelHidden" name="nivelHidden"/>
						        <input type="hidden" class="form-control" id="tipoHidden" name="tipoHidden"/>
						        <input type="hidden" class="form-control" id="estadoHidden" name="estadoHidden"/>
						        <input type="hidden" class="form-control" id="unidadAdministrativaHidden" name="unidadAdministrativaHidden"/>
						        
					    	</div>
						    <div class="modal-footer">
			    				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="Regresar"></button>
			    				<button type="button" class="btn btn-default" data-dismiss="modal">Imprimir Formato</button>
						    	<input type="submit" class="btn btn-danger" th:value="Descontar" />
						    </div>
					  	</div>
					</div>
				</div>
     		</form>
    	</div>
			
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery.ui.datepicker.validation.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/asistencia/coordinador.js}"></script>	 
		</th:block>
		
	</body>
</html>