<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate"
	xmlns:sec="http://www.thymeleaf.org">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Control de Asistencias</h1>
				<hr/>
				
				<div class="form-group" th:if="${MENSAJE_EXCEPCION}">
					<div class="alert alert-danger">
						<span class="fa fa-exclamation-triangle"></span>
		      			<span th:text="${MENSAJE_EXCEPCION}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		          	</div>
				</div>
				<div class="form-group" th:if="${MENSAJE}">
					<div class="alert alert-success">
						<span class="fa fa-check"></span>
		      			<span th:text="${MENSAJE}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		          	</div>
				</div>
				<div class="row">
					<div>
						<ul class="nav nav-tabs" id="tabs" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" id="asistencias-tab" data-toggle="tab" href="#asistencias" role="tab" aria-controls="asistencias" aria-selected="true">Buscar</a>
							</li>
							
	<!-- 						<li class="nav-item"> -->
	<!-- 					  	   <a class="nav-link"         id="buscar-tab" data-toggle="tab" href="#buscar" role="tab" aria-controls="buscar" aria-selected="false">Buscar</a> -->
	<!-- 					    </li> -->
						</ul>
					</div>
				</div>
				<div class="row">
					<!-- Tab panes -->
					<div class="tab-content">
						
						<!-- buscar -->
						<div class="tab-pane active" id="asistencias" role="tabpanel" aria-labelledby="asistencias-tab">
							<div class="card">
							
								<div class="asistenciaForm form-group">
									<form id="buscarRango" th:action="@{/asistencia/direccion/busca}" method="get">
										<div class="row">	
											<div class="form-group col-md-3">
												<p>No. de Empleado</p>
												<input th:value="${cveMusuario}" type="text" class="form-control" id="numeroEmpleado" name="cveMusuario" autocomplete="off" size="100%" />
											</div>
								            <div class="col-md-3">
												<label>
													<p>Nombre</p>
													<input th:value="${nombre}" type="text" class="form-control input-user" id="nombre" name="nombre" />
												</label>
											</div>
											<div class="col-md-3">
												<label>
													<p>Apellido Paterno</p>
													<input th:value="${paterno}" type="text" class="form-control" id="paterno" name="paterno" />
												</label>
											</div>
											<div class="col-md-3">
												<label>
													<p>Apellido Materno</p>
													<input th:value="${materno}" type="text" class="form-control" id="materno" name="materno" />
												</label>
											</div>
								        </div>
								        <div class="row">
											<div class="col-md-2">
												<label>
													<p>Nivel</p>
													<select class="form-control" id="nivel" name="nivel" th:autocomplete="off" >
										            	<option></option>
										            	<option th:each="n : ${listaNivel}" th:text="${n.nivel}" th:value="${n.nivel}" th:selected="${nivel == n.nivel}"></option>
										            </select>
												</label>
											</div>
											<div class="col-md-4">
												<label>
													<p>Tipo</p>
													<select class="form-control" id="tipo" name="tipo" th:autocomplete="off" >
										            	<option></option>
										            	<option th:each="t : ${listaTipo}" th:text="${t.nombre}" th:value="${t.idTipoDia}" th:selected="${tipo == t.idTipoDia}"></option>
										            </select>
												</label>
											</div>
											<div class="col-md-2">
												<label>
													<p>Estado</p>
													<select class="form-control" id="estado" name="estado" th:autocomplete="off" >
										            	<option></option>
										            	<option th:each="e : ${listaEstado}" th:text="${e.estatus}" th:value="${e.idEstatus}" th:selected="${estado == e.idEstatus}"></option>
										            </select>
												</label>
											</div>
											<div class="col-md-2">
							                	<p>Fecha Inicial</p>
							                    <input th:value="${fechaInicial}" type='text' class="form-control input-calendar input-group date" id="validBeforeDatepicker" name="fechaInicial" autocomplete="off" size="100%" />
								            </div>
								            <div class="col-md-2">
							                	<p>Fecha Final</p>
							                    <input th:value="${fechaFinal}" type='text' class="form-control input-calendar input-group date" id="validAfterDatepicker" name="fechaFinal" autocomplete="off" size="100%" />
								            </div>
										</div>
										<div class="row">
											<div class="col-md-4">
							                	<p>Unidad Administrativa</p>
							                    <select class="form-control" id="unidadAdministrativa" name="unidadAdministrativa" th:autocomplete="off" >
									            	<option></option>
									            	<option th:each="u : ${listaUnidadAdministrativa}" 
									            		th:text="${u.idUnidad.nombre}" 
									            		th:value="${u.idUnidad.idUnidad}" 
									            		th:selected="${unidadAdministrativa == u.idUnidad.idUnidad}">
									            	</option>
									            </select>
								            </div>
										</div>										
								        <div class="row">
								        	<div class="col-md-12">
									        	<div class="form-group col-md-3"></div>
								        		<div class="form-group col-md-3">
								        			<p class="text-right" th:hidden="${#arrays.length(listaAsistencia)} == 0 ? 'true' : 'false'">
														<button type="button" class="btn btn-default" id="imprimir">Imprimir Consulta</button>
													</p>
								        		</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" name="exporta" value="exporta">Exportar Excel</button>
													</p>
												</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" id="buscaBtn" name="busca" value="busca">Buscar</button>
													</p>
												</div>
											</div>
										</div>
 									</form>
					            </div>
					            
					        	<hr/>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} == 0 and !${inicio}">No se encontraron resultados</h2>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} != 0">
					        		<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'Se encontraron' : 'Se encontr&oacute;'"></span>
				        			<b>
				        				<span th:text="${#arrays.length(listaAsistencia)}"></span>
				        				<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'resultados ' : 'resultado '"></span>de b&uacute;squeda:
				        			</b>
					        	</h2>
					        	<div class="buscador" th:hidden="${#arrays.length(listaAsistencia)} == 0 ? 'true' : 'false'">
									<table id="tableAsistencias" class="table table-striped table-text-center">
										<thead>
											<tr>
												<th>NIVEL</th>
												<th>EMPLEADO</th>
												<th>NOMBRE</th>
												<th>PUESTO</th>
												<th>U. A.</th>
												<th>FECHA</th>
												<th>TIPO</th>
												<th>ESTADO</th>
												<th>DETALLE</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="asistencia : ${listaAsistencia}">
												<td id="idAsistencia" th:text="${asistencia.usuarioDto.nivel}"></td>
												<td th:text="${asistencia.usuarioDto.claveUsuario}"></td>
												<td th:text="${asistencia.usuarioDto.nombre + ' ' + asistencia.usuarioDto.apellidoPaterno + ' ' + asistencia.usuarioDto.apellidoMaterno}"></td>
												<td th:text="${asistencia.usuarioDto.idPuesto}"></td>
												<td th:text="${asistencia.usuarioDto.nombreUnidad}"></td>
												<td th:text="${asistencia.entrada}"></td>
												<td th:text="${asistencia.idTipoDia.nombre}"></td>
												<td>
													<span th:if="${asistencia.idEstatus.estatus == 'Validada' and asistencia.incidencia.descuento}">Descuento Aprobado</span>
													<span th:if="${asistencia.idEstatus.estatus == 'Validada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Aprobada</span>
													<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and asistencia.incidencia.descuento}">Descuento Pendiente</span>
													<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Pendiente</span>
													<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and asistencia.incidencia.descuento}">Descuento Rechazado</span>
													<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Rechazada</span>
												</td> 
												<td> 
													<a 
														th:if="${asistencia.idTipoDia.idTipoDia != 1 and asistencia.idEstatus.estatus != null}" 
														th:href="@{/asistencia/buscaId/(id=${asistencia.idAsistencia})}" class="nBtn">Dictaminar
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									
									<!-- Tabla escondida para imprimir -->
										<table id="tablaImprimir" border="1" cellpadding="3" hidden="true">
											<thead>
												<tr>
													<th>NIVEL</th>
													<th>EMPLEADO</th>
													<th>NOMBRE</th>
													<th>PUESTO</th>
													<th>U. A.</th>
													<th>FECHA</th>
													<th>TIPO</th>
													<th>ESTADO</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="asistencia : ${listaAsistencia}">
													<td id="idAsistencia" th:text="${asistencia.usuarioDto.nivel}"></td>
													<td th:text="${asistencia.usuarioDto.claveUsuario}"></td>
													<td th:text="${asistencia.usuarioDto.nombre + ' ' + asistencia.usuarioDto.apellidoPaterno + ' ' + asistencia.usuarioDto.apellidoMaterno}"></td>
													<td th:text="${asistencia.usuarioDto.idPuesto}"></td>
													<td th:text="${asistencia.usuarioDto.nombreUnidad}"></td>
													<td th:text="${asistencia.entrada}"></td>
													<td th:text="${asistencia.idTipoDia.nombre}"></td>
													<td>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and asistencia.incidencia.descuento}">Descuento Aprobado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Aprobada</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and asistencia.incidencia.descuento}">Descuento Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and asistencia.incidencia.descuento}">Descuento Rechazado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Rechazada</span>
													</td> 
												</tr>
											</tbody>
										</table>
									
								</div>
							</div>
						</div>
						
						<!-- tab buscar -->
<!-- 						<div class="tab-pane" id="buscar" role="tabpanel" aria-labelledby="buscar-tab"> -->
<!-- 							<div class="card"> -->
<!-- 								<div class="row"> -->
<!-- 									<div class="col-md-12"> -->
<!-- 										<h1 class="ico-incidencias">Buscar Asistencia por fecha</h1> -->
<!-- 									</div> -->
<!-- 								</div> -->

								
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>	
		
		
		<!-- modal para aceptar/rechazar justificación/descuento -->
		<div class="justificaForm">
      		<form th:action="@{/asistencia/direccion/dictamina_Incidencia_Descuento}" method="post">
				<div class="modal fade" id="justificaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 80%">
						<div class="modal-content">
					    	<div class="modal-header">
					      		<h3 class="modal-title" id="exampleModalLabel">Dictamina Incidencia</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								 </button>
						    </div>
					    	<div class="modal-body col-md-12">
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Puesto</label>
						            <input type="text" class="form-control" id="puestoModal" name="puesto" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Unidad Administrativa</label>
						            <input type="text" class="form-control" id="unidadModal" name="unidad" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">N&uacute;mero de Empleado</label>
						            <input type="text" class="form-control" id="cve_m_usuarioModal" name="cveMusuario" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Nombre</label>
						            <input type="text" class="form-control" id="nombreModal" name="nombre" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Fecha Ingreso</label>
						            <input type="text" class="form-control" id="fechaIngresoModal" name="fechaIngreso" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">RFC</label>
						            <input type="text" class="form-control" id="RFCModal" name="RFC" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="fecha" class="col-form-label">Fecha Incidencia</label>
						            <input type="text" class="form-control" id="fechaModal" name="fecha" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Tipo de Incidencia</label>
						            <input type="text" class="form-control" id="tipoDiaModal" name="tipoDia" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Estado</label>
						            <input type="text" class="form-control" id="estadoModal" name="estado" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectJustificacion" class="col-form-label" th:text="Justificaci&oacute;n"></label>
						            <input type="text" class="form-control" id="justificacion" name="justificacion" autocomplete="off" />
						        </div>
						        
						        <input type="hidden" class="form-control" id="idAsistenciaHidden" name="idAsistenciaHidden" />
						        <input type="hidden" class="form-control" id="idTipoDia" name="idTipoDia"/>
						        <input type="hidden" class="form-control" id="numeroEmpleadoHidden" name="cveMUsuarioHidden"/>
						        <input type="hidden" class="form-control" id="fechaInicial" name="fechaInicial"/>
						        <input type="hidden" class="form-control" id="fechaFinal" name="fechaFinal"/>
						        <input type="hidden" class="form-control" id="idJustificacionHidden" name="idJustificacion"/>
						        <input type="hidden" class="form-control" id="nombreHidden" name="nombreHidden"/>
						        <input type="hidden" class="form-control" id="paternoHidden" name="paternoHidden"/>
						        <input type="hidden" class="form-control" id="maternoHidden" name="maternoHidden"/>
						        <input type="hidden" class="form-control" id="nivelHidden" name="nivelHidden"/>
						        <input type="hidden" class="form-control" id="tipoHidden" name="tipoHidden"/>
						        <input type="hidden" class="form-control" id="estadoHidden" name="estadoHidden"/>
						        <input type="hidden" class="form-control" id="unidadAdministrativaHidden" name="unidadAdministrativaHidden"/>
						        
					    	</div>
						    <div class="modal-footer">
			    				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="Regresar"></button>
			    				<input type="submit" class="btn btn-default" name="dictaminacion" value="Ver Archivo" />
			    				<input type="submit" class="btn btn-danger" name="dictaminacion" th:value="Rechazar" />
						    	<input type="submit" class="btn btn-success" name="dictaminacion" th:value="Autorizar" />
						    </div>
					  	</div>
					</div>
				</div>
     		</form>
    	</div>
			
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery.ui.datepicker.validation.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/asistencia/direccion.js}"></script>	 
		</th:block>
		
	</body>
</html>