<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/mainTemplate"
	xmlns:sec="http://www.thymeleaf.org">
	
	<head>
		<title th:text="#{TITULO_MAIN_PAGE}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		<meta name="_token" th:content="${session._token}"></meta>
		<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"></meta> 
	   	<meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"></meta>   	
	   	
	   	<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="icon"  type="image/x-icon" />
		<link  th:href="@{/recursos/image/ico/favicon.ico}" rel="shortcut icon"  type="image/x-icon"/>
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_3.3.7/css/bootstrap.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />	
		<link rel="stylesheet" th:href="@{/recursos/assets/bootstrap_dialog/css/bootstrap-dialog.min.css}" />
		<link rel="stylesheet" th:href="@{/recursos/assets/date-picker/style/jquery-ui.css}" />
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
		<link rel="stylesheet" th:href="@{/recursos/css/styles.css}" />	
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logos">
							<div class="logo-segob"></div>
							<div class="logo-control"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<th:block layout:fragment="content"  th:remove="tag">
		<div class="main-page">
			<div class="container">
				<h1 class="ico-solicitudes"><span class="input-clock"></span> Control de Asistencias</h1>
				<hr/>
				
				<div class="row">
					<div>
						<ul class="nav nav-tabs" id="tabs" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" id="asistencias-tab" data-toggle="tab" href="#asistencias" role="tab" aria-controls="asistencias" aria-selected="true">Buscar</a>
							</li>
							
	<!-- 						<li class="nav-item"> -->
	<!-- 					  	   <a class="nav-link"         id="buscar-tab" data-toggle="tab" href="#buscar" role="tab" aria-controls="buscar" aria-selected="false">Buscar</a> -->
	<!-- 					    </li> -->
						</ul>
					</div>
				</div>
				<div class="row">
					<!-- Tab panes -->
					<div class="tab-content">
						
						<!-- buscar -->
						<div class="tab-pane active" id="asistencias" role="tabpanel" aria-labelledby="asistencias-tab">
							<div class="card">
							
								<div class="asistenciaForm form-group">
									<form id="buscarRango" th:action="@{/asistencia/empleado/busca}" method="get">
										<div class="row">	
											<div class="col-md-12">
												<div class="form-group col-md-3">
									                <div class='input-group date'>
									                	<p>Fecha Inicial</p>
									                    <input th:value="${fechaInicial}" type='text' class="form-control input-calendar" id="validBeforeDatepicker" name="fechaInicial" autocomplete="off" size="100%" />
									                </div>
									            </div>
									            <div class="form-group col-md-3">
									                <div class='input-group date'>
									                	<p>Fecha Final</p>
									                    <input th:value="${fechaFinal}" type='text' class="form-control input-calendar" id="validAfterDatepicker" name="fechaFinal" autocomplete="off" size="100%" />
									                </div>
									            </div>
								            </div>
								        </div>
								        <div class="row">
											<div class="col-md-12">
								        		<div class="form-group col-md-3"></div>
								        		<div class="form-group col-md-3">
								        			<p class="text-right" th:hidden="${#arrays.length(listaAsistencia)} == 0 ? 'true' : 'false'">
														<button type="button" class="btn btn-default" id="imprimir">Imprimir Consulta</button>
													</p>
								        		</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" name="exporta" value="exporta">Exportar Excel</button>
													</p>
												</div>
												<div class="form-group col-md-3">
													<p class="text-right">
														<button class="btn btn-default" id="buscaBtn" name="busca" value="busca">Buscar</button>
													</p>
												</div>
											</div>
										</div>
 									</form>
					            </div>
					            
					        	<hr/>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} == 0">No se encontraron resultados</h2>
					        	<h2 th:if="${#arrays.length(listaAsistencia)} != 0">
					        		<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'Se encontraron' : 'Se encontr&oacute;'"></span>
				        			<b>
				        				<span th:text="${#arrays.length(listaAsistencia)}"></span>
				        				<span th:text="${#arrays.length(listaAsistencia)} > 1 ? 'resultados ' : 'resultado '"></span>de b&uacute;squeda:
				        			</b>
					        	</h2>
					        	<div class="buscador" th:hidden="${#arrays.length(listaAsistencia)} == 0 ? 'true' : 'false'">
									<div class="filterable">
										<table id="tableAsistencias" class="table table-striped table-text-center">
											<thead>
												<tr>
													<th>NIVEL</th>
													<th>EMPLEADO</th>
													<th>NOMBRE</th>
													<th>PUESTO</th>
													<th>U. A.</th>
													<th>FECHA</th>
													<th>TIPO</th>
													<th>ESTADO</th>
													<th>DETALLE</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="asistencia : ${listaAsistencia}">
													<td id="idAsistencia" th:text="${asistencia.usuario.nivel}"></td>
													<td th:text="${asistencia.usuario.claveUsuario}"></td>
													<td th:text="${asistencia.usuario.nombre + ' ' + asistencia.usuario.apellidoPaterno + ' ' + asistencia.usuario.apellidoMaterno}"></td>
													<td th:text="${asistencia.usuario.clavePerfil.descripcion}"></td>
													<td th:text="${asistencia.usuario.nombreUnidad}"></td>
													<td th:text="${asistencia.entrada}"></td>
													<td th:text="${asistencia.idTipoDia.nombre}"></td>
													<td>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and asistencia.incidencia.descuento}">Descuento Aprobado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Validada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Aprobada</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and asistencia.incidencia.descuento}">Descuento Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Pendiente' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Pendiente</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and asistencia.incidencia.descuento}">Descuento Rechazado</span>
														<span th:if="${asistencia.idEstatus.estatus == 'Rechazada' and !asistencia.incidencia.descuento}">Justificaci&oacute;n Rechazada</span>
													</td>
													<td> 
														<a th:if="${asistencia.idTipoDia.idTipoDia != 1}" th:href="@{/asistencia/buscaId/(id=${asistencia.idAsistencia})}" class="nBtn">Ver detalle</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<!-- tab buscar -->
<!-- 						<div class="tab-pane" id="buscar" role="tabpanel" aria-labelledby="buscar-tab"> -->
<!-- 							<div class="card"> -->
<!-- 								<div class="row"> -->
<!-- 									<div class="col-md-12"> -->
<!-- 										<h1 class="ico-incidencias">Buscar Asistencia por fecha</h1> -->
<!-- 									</div> -->
<!-- 								</div> -->

								
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>	
		
		
		<!-- modal para visualizar incidencia -->
		<div class="justificaForm">
      		<form th:action="@{/asistencia/creaIncidencia}" method="post">
				<div class="modal fade" id="justificaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 80%">
						<div class="modal-content">
					    	<div class="modal-header">
					      		<h3 class="modal-title" id="exampleModalLabel">Incidencia de empleado</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								 </button>
						    </div>
					    	<div class="modal-body col-md-12">
					    		<div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Puesto</label>
						            <input type="text" class="form-control" id="puesto" name="puesto" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Unidad Administrativa</label>
						            <input type="text" class="form-control" id="unidad" name="unidad" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">N&uacute;mero de Empleado</label>
						            <input type="text" class="form-control" id="cve_m_usuario" name="cve_m_usuario" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Nombre</label>
						            <input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">Fecha Ingreso</label>
						            <input type="text" class="form-control" id="fechaIngreso" name="fechaIngreso" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="id" class="col-form-label">RFC</label>
						            <input type="text" class="form-control" id="RFC" name="RFC" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="fecha" class="col-form-label">Fecha Incidencia</label>
						            <input type="text" class="form-control" id="fecha" name="fecha" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Tipo de Incidencia</label>
						            <input type="text" class="form-control" id="tipoDia" name="tipoDia" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="tipo" class="col-form-label">Estado</label>
						            <input type="text" class="form-control" id="estado" name="estado" autocomplete="off"/>
						        </div>
						        <div class="form-group col-md-4">
						        	<label for="selectJustificacion" class="col-form-label" th:text="Motivo"></label>
						            <input type="text" class="form-control" id="justificacion" name="justificacion" autocomplete="off" />
						        </div>
						        
						        <input type="hidden" class="form-control" id="fechaInicial" name="fechaInicial"/>
						        <input type="hidden" class="form-control" id="fechaFinal" name="fechaFinal"/>
						        
					    	</div>
						    <div class="modal-footer">
			    				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="Regresar"></button>
<!-- 						    	<input type="submit" class="btn btn-primary" th:value="#{COMUN.GUARDAR}" /> -->
						    </div>
					  	</div>
					</div>
				</div>
     		</form>
    	</div>
			
		</th:block>
		
		<th:block th:inline="text" layout:fragment="includeCSS"></th:block>
	
		<th:block th:inline="text" layout:fragment="includeScript">
			<script charset="utf-8" th:src="@{/recursos/assets/bootstrap_dialog/js/bootstrap-dialog.min.js}"></script>
			<script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/dataTables-1.10.12/js/dataTables.bootstrap.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/datatables/responsive-2.1.0/js/dataTables.responsive.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery-ui-datepicker.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/assets/date-picker/script/jquery.ui.datepicker.validation.min.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/comun/moduloDatatable.js}"></script>
	        <script charset="utf-8" th:src="@{/recursos/script/asistencia/empleado.js}"></script>	 
		</th:block>
		
	</body>
</html>